@charset "UTF-8";

@font-face {
  font-family: "a-infographic-elements";
  src: url("./a-infographic-elements.eot");
  src: url("./a-infographic-elements.eot?#iefix") format("embedded-opentype"),
       url("./a-infographic-elements.woff") format("woff"),
       url("./a-infographic-elements.ttf") format("truetype"),
       url("./a-infographic-elements.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="cyb-g-aie-"]:before, [class*=" cyb-g-aie-"]:before,
[class^="cyb-g-aie-"]:after, [class*=" cyb-g-aie-"]:after {   
font-family: "a-infographic-elements" !important;
font-size: 20px;
font-style: normal !important;
font-weight: normal !important;
font-variant: normal !important;
text-transform: none !important;
text-align: center;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.cyb-g-aie-001-infographic-18:before { content: "\f100"; }
.cyb-g-aie-002-speedometer:before { content: "\f101"; }
.cyb-g-aie-003-infographic-17:before { content: "\f102"; }
.cyb-g-aie-004-pie-chart-4:before { content: "\f103"; }
.cyb-g-aie-005-computer:before { content: "\f104"; }
.cyb-g-aie-006-infographic-16:before { content: "\f105"; }
.cyb-g-aie-007-infographic-15:before { content: "\f106"; }
.cyb-g-aie-008-infographic-14:before { content: "\f107"; }
.cyb-g-aie-009-infographic-13:before { content: "\f108"; }
.cyb-g-aie-010-diagram-1:before { content: "\f109"; }
.cyb-g-aie-011-infographic-12:before { content: "\f10a"; }
.cyb-g-aie-012-infographic-11:before { content: "\f10b"; }
.cyb-g-aie-013-infographic-10:before { content: "\f10c"; }
.cyb-g-aie-014-venn-diagram:before { content: "\f10d"; }
.cyb-g-aie-015-puzzle:before { content: "\f10e"; }
.cyb-g-aie-016-infographic-9:before { content: "\f10f"; }
.cyb-g-aie-017-bar-chart-4:before { content: "\f110"; }
.cyb-g-aie-018-infographic-8:before { content: "\f111"; }
.cyb-g-aie-019-infographic-7:before { content: "\f112"; }
.cyb-g-aie-020-loss:before { content: "\f113"; }
.cyb-g-aie-021-infographic-6:before { content: "\f114"; }
.cyb-g-aie-022-loop:before { content: "\f115"; }
.cyb-g-aie-023-arrows:before { content: "\f116"; }
.cyb-g-aie-024-infographic-5:before { content: "\f117"; }
.cyb-g-aie-025-pie-chart-3:before { content: "\f118"; }
.cyb-g-aie-026-diagram:before { content: "\f119"; }
.cyb-g-aie-027-bar-chart-3:before { content: "\f11a"; }
.cyb-g-aie-028-pie-chart-2:before { content: "\f11b"; }
.cyb-g-aie-029-infographic-4:before { content: "\f11c"; }
.cyb-g-aie-030-funnel:before { content: "\f11d"; }
.cyb-g-aie-031-pie-chart-1:before { content: "\f11e"; }
.cyb-g-aie-032-line-chart:before { content: "\f11f"; }
.cyb-g-aie-033-bar-chart-2:before { content: "\f120"; }
.cyb-g-aie-034-flow:before { content: "\f121"; }
.cyb-g-aie-035-bar-chart-1:before { content: "\f122"; }
.cyb-g-aie-036-hexagon-1:before { content: "\f123"; }
.cyb-g-aie-037-hexagon:before { content: "\f124"; }
.cyb-g-aie-038-pie-chart:before { content: "\f125"; }
.cyb-g-aie-039-infographic-3:before { content: "\f126"; }
.cyb-g-aie-040-chart:before { content: "\f127"; }
.cyb-g-aie-041-layer:before { content: "\f128"; }
.cyb-g-aie-042-infographic-2:before { content: "\f129"; }
.cyb-g-aie-043-pyramid-chart-1:before { content: "\f12a"; }
.cyb-g-aie-044-sweep:before { content: "\f12b"; }
.cyb-g-aie-045-cubes:before { content: "\f12c"; }
.cyb-g-aie-046-infographic-1:before { content: "\f12d"; }
.cyb-g-aie-047-infographic:before { content: "\f12e"; }
.cyb-g-aie-048-interlocking:before { content: "\f12f"; }
.cyb-g-aie-049-bar-chart:before { content: "\f130"; }
.cyb-g-aie-050-pyramid-chart:before { content: "\f131"; }