<mat-card fxLayout="column" fxLayoutAlign="center" >

  <div class="gene-card-title" fxLayout="row" fxLayoutAlign="space-between">

    <div fxFlex fxLayoutAlign="start center">

      <div fxFlex="10">
        <mat-icon style="font-size:15px" class="cyb-fa-pie-chart"></mat-icon>
      </div>

      <div fxFlex="70">
        <h5>{{cardTitle}}</h5>
      </div>

      <div fxFlex="10">
        <button mat-icon-button matTooltipPosition="below">
          <mat-icon style="font-size:15px" class="cyb-ic-fullscreen-alt"></mat-icon>
        </button>
      </div>

      <div fxFlex="10">
        <button mat-icon-button aria-label="Open icon menu">
          <mat-icon style="font-size:18px" class="cyb-mi-more_vert"></mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-divider style="margin-bottom: 10px"></mat-divider>

  <div style="height:100%" #diagramDiv ></div>
</mat-card>