@charset "UTF-8";

@font-face {
  font-family: "linecons";
  src: url('linecons.eot?5km1tg');
  src: url('linecons.eot?#iefix5km1tg') format('embedded-opentype'),
  url('linecons.ttf?5km1tg') format('truetype'),
  url('linecons.woff?5km1tg') format('woff'),
  url('linecons.svg?5km1tg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "linecons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cyb-lc-"]:before,
[class*=" cyb-lc-"]:before {
  font-family: "linecons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cyb-lc-heart:before {
  content: "\e900";
}

.cyb-lc-cloud:before {
  content: "\e901";
}

.cyb-lc-star:before {
  content: "\e902";
}

.cyb-lc-tv:before {
  content: "\e903";
}

.cyb-lc-sound:before {
  content: "\e904";
}

.cyb-lc-video:before {
  content: "\e905";
}

.cyb-lc-trash:before {
  content: "\e906";
}

.cyb-lc-user:before {
  content: "\e907";
}

.cyb-lc-key:before {
  content: "\e908";
}

.cyb-lc-search:before {
  content: "\e909";
}

.cyb-lc-settings:before {
  content: "\e90a";
}

.cyb-lc-camera:before {
  content: "\e90b";
}

.cyb-lc-tag:before {
  content: "\e90c";
}

.cyb-lc-lock:before {
  content: "\e90d";
}

.cyb-lc-bulb:before {
  content: "\e90e";
}

.cyb-lc-pen:before {
  content: "\e90f";
}

.cyb-lc-diamond:before {
  content: "\e910";
}

.cyb-lc-display:before {
  content: "\e911";
}

.cyb-lc-location:before {
  content: "\e912";
}

.cyb-lc-eye:before {
  content: "\e913";
}

.cyb-lc-bubble:before {
  content: "\e914";
}

.cyb-lc-stack:before {
  content: "\e915";
}

.cyb-lc-cup:before {
  content: "\e916";
}

.cyb-lc-phone:before {
  content: "\e917";
}

.cyb-lc-news:before {
  content: "\e918";
}

.cyb-lc-mail:before {
  content: "\e919";
}

.cyb-lc-like:before {
  content: "\e91a";
}

.cyb-lc-photo:before {
  content: "\e91b";
}

.cyb-lc-note:before {
  content: "\e91c";
}

.cyb-lc-clock:before {
  content: "\e91d";
}

.cyb-lc-paperplane:before {
  content: "\e91e";
}

.cyb-lc-params:before {
  content: "\e91f";
}

.cyb-lc-banknote:before {
  content: "\e920";
}

.cyb-lc-data:before {
  content: "\e921";
}

.cyb-lc-music:before {
  content: "\e922";
}

.cyb-lc-megaphone:before {
  content: "\e923";
}

.cyb-lc-study:before {
  content: "\e924";
}

.cyb-lc-lab:before {
  content: "\e925";
}

.cyb-lc-food:before {
  content: "\e926";
}

.cyb-lc-t-shirt:before {
  content: "\e927";
}

.cyb-lc-fire:before {
  content: "\e928";
}

.cyb-lc-clip:before {
  content: "\e929";
}

.cyb-lc-shop:before {
  content: "\e92a";
}

.cyb-lc-calendar:before {
  content: "\e92b";
}

.cyb-lc-wallet:before {
  content: "\e92c";
}

.cyb-lc-vynil:before {
  content: "\e92d";
}

.cyb-lc-truck:before {
  content: "\e92e";
}

.cyb-lc-world:before {
  content: "\e92f";
}