@charset "UTF-8";

@font-face {
  font-family: "elegant-themes";
  src: url('elegant-themes.eot?5km1tg');
  src: url('elegant-themes.eot?#iefix5km1tg') format('embedded-opentype'),
  url('elegant-themes.ttf?5km1tg') format('truetype'),
  url('elegant-themes.woff?5km1tg') format('woff'),
  url('elegant-themes.svg?5km1tg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "elegant-themes" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cyb-et-"]:before,
[class*=" cyb-et-"]:before {
  font-family: "elegant-themes" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cyb-et-mobile:before {
  content: "\e000";
}

.cyb-et-laptop:before {
  content: "\e001";
}

.cyb-et-desktop:before {
  content: "\e002";
}

.cyb-et-tablet:before {
  content: "\e003";
}

.cyb-et-phone:before {
  content: "\e004";
}

.cyb-et-document:before {
  content: "\e005";
}

.cyb-et-documents:before {
  content: "\e006";
}

.cyb-et-search:before {
  content: "\e007";
}

.cyb-et-clipboard:before {
  content: "\e008";
}

.cyb-et-newspaper:before {
  content: "\e009";
}

.cyb-et-notebook:before {
  content: "\e00a";
}

.cyb-et-book-open:before {
  content: "\e00b";
}

.cyb-et-browser:before {
  content: "\e00c";
}

.cyb-et-calendar:before {
  content: "\e00d";
}

.cyb-et-presentation:before {
  content: "\e00e";
}

.cyb-et-picture:before {
  content: "\e00f";
}

.cyb-et-pictures:before {
  content: "\e010";
}

.cyb-et-video:before {
  content: "\e011";
}

.cyb-et-camera:before {
  content: "\e012";
}

.cyb-et-printer:before {
  content: "\e013";
}

.cyb-et-toolbox:before {
  content: "\e014";
}

.cyb-et-briefcase:before {
  content: "\e015";
}

.cyb-et-wallet:before {
  content: "\e016";
}

.cyb-et-gift:before {
  content: "\e017";
}

.cyb-et-bargraph:before {
  content: "\e018";
}

.cyb-et-grid:before {
  content: "\e019";
}

.cyb-et-expand:before {
  content: "\e01a";
}

.cyb-et-focus:before {
  content: "\e01b";
}

.cyb-et-edit:before {
  content: "\e01c";
}

.cyb-et-adjustments:before {
  content: "\e01d";
}

.cyb-et-ribbon:before {
  content: "\e01e";
}

.cyb-et-hourglass:before {
  content: "\e01f";
}

.cyb-et-lock:before {
  content: "\e020";
}

.cyb-et-megaphone:before {
  content: "\e021";
}

.cyb-et-shield:before {
  content: "\e022";
}

.cyb-et-trophy:before {
  content: "\e023";
}

.cyb-et-flag:before {
  content: "\e024";
}

.cyb-et-map:before {
  content: "\e025";
}

.cyb-et-puzzle:before {
  content: "\e026";
}

.cyb-et-basket:before {
  content: "\e027";
}

.cyb-et-envelope:before {
  content: "\e028";
}

.cyb-et-streetsign:before {
  content: "\e029";
}

.cyb-et-telescope:before {
  content: "\e02a";
}

.cyb-et-gears:before {
  content: "\e02b";
}

.cyb-et-key:before {
  content: "\e02c";
}

.cyb-et-paperclip:before {
  content: "\e02d";
}

.cyb-et-attachment:before {
  content: "\e02e";
}

.cyb-et-pricetags:before {
  content: "\e02f";
}

.cyb-et-lightbulb:before {
  content: "\e030";
}

.cyb-et-layers:before {
  content: "\e031";
}

.cyb-et-pencil:before {
  content: "\e032";
}

.cyb-et-tools:before {
  content: "\e033";
}

.cyb-et-tools-2:before {
  content: "\e034";
}

.cyb-et-scissors:before {
  content: "\e035";
}

.cyb-et-paintbrush:before {
  content: "\e036";
}

.cyb-et-magnifying-glass:before {
  content: "\e037";
}

.cyb-et-circle-compass:before {
  content: "\e038";
}

.cyb-et-linegraph:before {
  content: "\e039";
}

.cyb-et-mic:before {
  content: "\e03a";
}

.cyb-et-strategy:before {
  content: "\e03b";
}

.cyb-et-beaker:before {
  content: "\e03c";
}

.cyb-et-caution:before {
  content: "\e03d";
}

.cyb-et-recycle:before {
  content: "\e03e";
}

.cyb-et-anchor:before {
  content: "\e03f";
}

.cyb-et-profile-male:before {
  content: "\e040";
}

.cyb-et-profile-female:before {
  content: "\e041";
}

.cyb-et-bike:before {
  content: "\e042";
}

.cyb-et-wine:before {
  content: "\e043";
}

.cyb-et-hotairballoon:before {
  content: "\e044";
}

.cyb-et-globe:before {
  content: "\e045";
}

.cyb-et-genius:before {
  content: "\e046";
}

.cyb-et-map-pin:before {
  content: "\e047";
}

.cyb-et-dial:before {
  content: "\e048";
}

.cyb-et-chat:before {
  content: "\e049";
}

.cyb-et-heart:before {
  content: "\e04a";
}

.cyb-et-cloud:before {
  content: "\e04b";
}

.cyb-et-upload:before {
  content: "\e04c";
}

.cyb-et-download:before {
  content: "\e04d";
}

.cyb-et-target:before {
  content: "\e04e";
}

.cyb-et-hazardous:before {
  content: "\e04f";
}

.cyb-et-piechart:before {
  content: "\e050";
}

.cyb-et-speedometer:before {
  content: "\e051";
}

.cyb-et-global:before {
  content: "\e052";
}

.cyb-et-compass:before {
  content: "\e053";
}

.cyb-et-lifesaver:before {
  content: "\e054";
}

.cyb-et-clock:before {
  content: "\e055";
}

.cyb-et-aperture:before {
  content: "\e056";
}

.cyb-et-quote:before {
  content: "\e057";
}

.cyb-et-scope:before {
  content: "\e058";
}

.cyb-et-alarmclock:before {
  content: "\e059";
}

.cyb-et-refresh:before {
  content: "\e05a";
}

.cyb-et-happy:before {
  content: "\e05b";
}

.cyb-et-sad:before {
  content: "\e05c";
}

.cyb-et-facebook:before {
  content: "\e05d";
}

.cyb-et-twitter:before {
  content: "\e05e";
}

.cyb-et-googleplus:before {
  content: "\e05f";
}

.cyb-et-rss:before {
  content: "\e060";
}

.cyb-et-tumblr:before {
  content: "\e061";
}

.cyb-et-linkedin:before {
  content: "\e062";
}

.cyb-et-dribbble:before {
  content: "\e063";
}
