@charset "UTF-8";

@font-face {
  font-family: "feather";
  src: url('feather.eot?5km1tg');
  src: url('feather.eot?#iefix5km1tg') format('embedded-opentype'),
  url('feather.ttf?5km1tg') format('truetype'),
  url('feather.woff?5km1tg') format('woff'),
  url('feather.svg?5km1tg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "feather" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cyb-f-"]:before,
[class*=" cyb-f-"]:before {
  font-family: "feather" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cyb-f-eye:before {
  content: "\e000";
}

.cyb-f-paper-clip:before {
  content: "\e001";
}

.cyb-f-mail:before {
  content: "\e002";
}

.cyb-f-toggle:before {
  content: "\e003";
}

.cyb-f-layout:before {
  content: "\e004";
}

.cyb-f-link:before {
  content: "\e005";
}

.cyb-f-bell:before {
  content: "\e006";
}

.cyb-f-lock:before {
  content: "\e007";
}

.cyb-f-unlock:before {
  content: "\e008";
}

.cyb-f-ribbon:before {
  content: "\e009";
}

.cyb-f-image:before {
  content: "\e010";
}

.cyb-f-signal:before {
  content: "\e011";
}

.cyb-f-target:before {
  content: "\e012";
}

.cyb-f-clipboard:before {
  content: "\e013";
}

.cyb-f-clock:before {
  content: "\e014";
}

.cyb-f-watch:before {
  content: "\e015";
}

.cyb-f-air-play:before {
  content: "\e016";
}

.cyb-f-camera:before {
  content: "\e017";
}

.cyb-f-video:before {
  content: "\e018";
}

.cyb-f-disc:before {
  content: "\e019";
}

.cyb-f-printer:before {
  content: "\e020";
}

.cyb-f-monitor:before {
  content: "\e021";
}

.cyb-f-server:before {
  content: "\e022";
}

.cyb-f-cog:before {
  content: "\e023";
}

.cyb-f-heart:before {
  content: "\e024";
}

.cyb-f-paragraph:before {
  content: "\e025";
}

.cyb-f-align-justify:before {
  content: "\e026";
}

.cyb-f-align-left:before {
  content: "\e027";
}

.cyb-f-align-center:before {
  content: "\e028";
}

.cyb-f-align-right:before {
  content: "\e029";
}

.cyb-f-book:before {
  content: "\e030";
}

.cyb-f-layers:before {
  content: "\e031";
}

.cyb-f-stack:before {
  content: "\e032";
}

.cyb-f-stack-2:before {
  content: "\e033";
}

.cyb-f-paper:before {
  content: "\e034";
}

.cyb-f-paper-stack:before {
  content: "\e035";
}

.cyb-f-search:before {
  content: "\e036";
}

.cyb-f-zoom-in:before {
  content: "\e037";
}

.cyb-f-zoom-out:before {
  content: "\e038";
}

.cyb-f-reply:before {
  content: "\e039";
}

.cyb-f-circle-plus:before {
  content: "\e040";
}

.cyb-f-circle-minus:before {
  content: "\e041";
}

.cyb-f-circle-check:before {
  content: "\e042";
}

.cyb-f-circle-cross:before {
  content: "\e043";
}

.cyb-f-square-plus:before {
  content: "\e044";
}

.cyb-f-square-minus:before {
  content: "\e045";
}

.cyb-f-square-check:before {
  content: "\e046";
}

.cyb-f-square-cross:before {
  content: "\e047";
}

.cyb-f-microphone:before {
  content: "\e048";
}

.cyb-f-record:before {
  content: "\e049";
}

.cyb-f-skip-back:before {
  content: "\e050";
}

.cyb-f-rewind:before {
  content: "\e051";
}

.cyb-f-play:before {
  content: "\e052";
}

.cyb-f-pause:before {
  content: "\e053";
}

.cyb-f-stop:before {
  content: "\e054";
}

.cyb-f-fast-forward:before {
  content: "\e055";
}

.cyb-f-skip-forward:before {
  content: "\e056";
}

.cyb-f-shuffle:before {
  content: "\e057";
}

.cyb-f-repeat:before {
  content: "\e058";
}

.cyb-f-folder:before {
  content: "\e059";
}

.cyb-f-umbrella:before {
  content: "\e060";
}

.cyb-f-moon:before {
  content: "\e061";
}

.cyb-f-thermometer:before {
  content: "\e062";
}

.cyb-f-drop:before {
  content: "\e063";
}

.cyb-f-sun:before {
  content: "\e064";
}

.cyb-f-cloud:before {
  content: "\e065";
}

.cyb-f-cloud-upload:before {
  content: "\e066";
}

.cyb-f-cloud-download:before {
  content: "\e067";
}

.cyb-f-upload:before {
  content: "\e068";
}

.cyb-f-download:before {
  content: "\e069";
}

.cyb-f-location:before {
  content: "\e070";
}

.cyb-f-location-2:before {
  content: "\e071";
}

.cyb-f-map:before {
  content: "\e072";
}

.cyb-f-battery:before {
  content: "\e073";
}

.cyb-f-head:before {
  content: "\e074";
}

.cyb-f-briefcase:before {
  content: "\e075";
}

.cyb-f-speech-bubble:before {
  content: "\e076";
}

.cyb-f-anchor:before {
  content: "\e077";
}

.cyb-f-globe:before {
  content: "\e078";
}

.cyb-f-box:before {
  content: "\e079";
}

.cyb-f-reload:before {
  content: "\e080";
}

.cyb-f-share:before {
  content: "\e081";
}

.cyb-f-marquee:before {
  content: "\e082";
}

.cyb-f-marquee-plus:before {
  content: "\e083";
}

.cyb-f-marquee-minus:before {
  content: "\e084";
}

.cyb-f-tag:before {
  content: "\e085";
}

.cyb-f-power:before {
  content: "\e086";
}

.cyb-f-command:before {
  content: "\e087";
}

.cyb-f-alt:before {
  content: "\e088";
}

.cyb-f-esc:before {
  content: "\e089";
}

.cyb-f-bar-graph:before {
  content: "\e090";
}

.cyb-f-bar-graph-2:before {
  content: "\e091";
}

.cyb-f-pie-graph:before {
  content: "\e092";
}

.cyb-f-star:before {
  content: "\e093";
}

.cyb-f-arrow-left:before {
  content: "\e094";
}

.cyb-f-arrow-right:before {
  content: "\e095";
}

.cyb-f-arrow-up:before {
  content: "\e096";
}

.cyb-f-arrow-down:before {
  content: "\e097";
}

.cyb-f-volume:before {
  content: "\e098";
}

.cyb-f-mute:before {
  content: "\e099";
}

.cyb-f-content-right:before {
  content: "\e100";
}

.cyb-f-content-left:before {
  content: "\e101";
}

.cyb-f-grid:before {
  content: "\e102";
}

.cyb-f-grid-2:before {
  content: "\e103";
}

.cyb-f-columns:before {
  content: "\e104";
}

.cyb-f-loader:before {
  content: "\e105";
}

.cyb-f-bag:before {
  content: "\e106";
}

.cyb-f-ban:before {
  content: "\e107";
}

.cyb-f-flag:before {
  content: "\e108";
}

.cyb-f-trash:before {
  content: "\e109";
}

.cyb-f-expand:before {
  content: "\e110";
}

.cyb-f-contract:before {
  content: "\e111";
}

.cyb-f-maximize:before {
  content: "\e112";
}

.cyb-f-minimize:before {
  content: "\e113";
}

.cyb-f-plus:before {
  content: "\e114";
}

.cyb-f-minus:before {
  content: "\e115";
}

.cyb-f-check:before {
  content: "\e116";
}

.cyb-f-cross:before {
  content: "\e117";
}

.cyb-f-move:before {
  content: "\e118";
}

.cyb-f-delete:before {
  content: "\e119";
}

.cyb-f-menu:before {
  content: "\e120";
}

.cyb-f-archive:before {
  content: "\e121";
}

.cyb-f-inbox:before {
  content: "\e122";
}

.cyb-f-outbox:before {
  content: "\e123";
}

.cyb-f-file:before {
  content: "\e124";
}

.cyb-f-file-add:before {
  content: "\e125";
}

.cyb-f-file-subtract:before {
  content: "\e126";
}

.cyb-f-help:before {
  content: "\e127";
}

.cyb-f-open:before {
  content: "\e128";
}

.cyb-f-ellipsis:before {
  content: "\e129";
}