@charset "UTF-8";

@font-face {
  font-family: "entypo";
  src: url('entypo.eot?5km1tg');
  src: url('entypo.eot?#iefix5km1tg') format('embedded-opentype'),
  url('entypo.ttf?5km1tg') format('truetype'),
  url('entypo.woff?5km1tg') format('woff'),
  url('entypo.svg?5km1tg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "entypo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cyb-en-"]:before,
[class*=" cyb-en-"]:before {
  font-family: "entypo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cyb-en-add-to-list:before {
  content: "\e900";
}

.cyb-en-classic-computer:before {
  content: "\e901";
}

.cyb-en-controller-fast-backward:before {
  content: "\e902";
}

.cyb-en-creative-commons-attribution:before {
  content: "\e903";
}

.cyb-en-creative-commons-noderivs:before {
  content: "\e904";
}

.cyb-en-creative-commons-noncommercial-eu:before {
  content: "\e905";
}

.cyb-en-creative-commons-noncommercial-us:before {
  content: "\e906";
}

.cyb-en-creative-commons-public-domain:before {
  content: "\e907";
}

.cyb-en-creative-commons-remix:before {
  content: "\e908";
}

.cyb-en-creative-commons-share:before {
  content: "\e909";
}

.cyb-en-creative-commons-sharealike:before {
  content: "\e90a";
}

.cyb-en-creative-commons:before {
  content: "\e90b";
}

.cyb-en-document-landscape:before {
  content: "\e90c";
}

.cyb-en-remove-user:before {
  content: "\e90d";
}

.cyb-en-warning:before {
  content: "\e90e";
}

.cyb-en-arrow-bold-down:before {
  content: "\e90f";
}

.cyb-en-arrow-bold-left:before {
  content: "\e910";
}

.cyb-en-arrow-bold-right:before {
  content: "\e911";
}

.cyb-en-arrow-bold-up:before {
  content: "\e912";
}

.cyb-en-arrow-down:before {
  content: "\e913";
}

.cyb-en-arrow-left:before {
  content: "\e914";
}

.cyb-en-arrow-long-down:before {
  content: "\e915";
}

.cyb-en-arrow-long-left:before {
  content: "\e916";
}

.cyb-en-arrow-long-right:before {
  content: "\e917";
}

.cyb-en-arrow-long-up:before {
  content: "\e918";
}

.cyb-en-arrow-right:before {
  content: "\e919";
}

.cyb-en-arrow-up:before {
  content: "\e91a";
}

.cyb-en-arrow-with-circle-down:before {
  content: "\e91b";
}

.cyb-en-arrow-with-circle-left:before {
  content: "\e91c";
}

.cyb-en-arrow-with-circle-right:before {
  content: "\e91d";
}

.cyb-en-arrow-with-circle-up:before {
  content: "\e91e";
}

.cyb-en-bookmark:before {
  content: "\e91f";
}

.cyb-en-bookmarks:before {
  content: "\e920";
}

.cyb-en-chevron-down:before {
  content: "\e921";
}

.cyb-en-chevron-left:before {
  content: "\e922";
}

.cyb-en-chevron-right:before {
  content: "\e923";
}

.cyb-en-chevron-small-down:before {
  content: "\e924";
}

.cyb-en-chevron-small-left:before {
  content: "\e925";
}

.cyb-en-chevron-small-right:before {
  content: "\e926";
}

.cyb-en-chevron-small-up:before {
  content: "\e927";
}

.cyb-en-chevron-thin-down:before {
  content: "\e928";
}

.cyb-en-chevron-thin-left:before {
  content: "\e929";
}

.cyb-en-chevron-thin-right:before {
  content: "\e92a";
}

.cyb-en-chevron-thin-up:before {
  content: "\e92b";
}

.cyb-en-chevron-up:before {
  content: "\e92c";
}

.cyb-en-chevron-with-circle-down:before {
  content: "\e92d";
}

.cyb-en-chevron-with-circle-left:before {
  content: "\e92e";
}

.cyb-en-chevron-with-circle-right:before {
  content: "\e92f";
}

.cyb-en-chevron-with-circle-up:before {
  content: "\e930";
}

.cyb-en-cloud:before {
  content: "\e931";
}

.cyb-en-controller-fast-forward:before {
  content: "\e932";
}

.cyb-en-controller-jump-to-start:before {
  content: "\e933";
}

.cyb-en-controller-next:before {
  content: "\e934";
}

.cyb-en-controller-paus:before {
  content: "\e935";
}

.cyb-en-controller-play:before {
  content: "\e936";
}

.cyb-en-controller-record:before {
  content: "\e937";
}

.cyb-en-controller-stop:before {
  content: "\e938";
}

.cyb-en-controller-volume:before {
  content: "\e939";
}

.cyb-en-dot-single:before {
  content: "\e93a";
}

.cyb-en-dots-three-horizontal:before {
  content: "\e93b";
}

.cyb-en-dots-three-vertical:before {
  content: "\e93c";
}

.cyb-en-dots-two-horizontal:before {
  content: "\e93d";
}

.cyb-en-dots-two-vertical:before {
  content: "\e93e";
}

.cyb-en-download:before {
  content: "\e93f";
}

.cyb-en-emoji-flirt:before {
  content: "\e940";
}

.cyb-en-flow-branch:before {
  content: "\e941";
}

.cyb-en-flow-cascade:before {
  content: "\e942";
}

.cyb-en-flow-line:before {
  content: "\e943";
}

.cyb-en-flow-parallel:before {
  content: "\e944";
}

.cyb-en-flow-tree:before {
  content: "\e945";
}

.cyb-en-install:before {
  content: "\e946";
}

.cyb-en-layers:before {
  content: "\e947";
}

.cyb-en-open-book:before {
  content: "\e948";
}

.cyb-en-resize-100:before {
  content: "\e949";
}

.cyb-en-resize-full-screen:before {
  content: "\e94a";
}

.cyb-en-save:before {
  content: "\e94b";
}

.cyb-en-select-arrows:before {
  content: "\e94c";
}

.cyb-en-sound-mute:before {
  content: "\e94d";
}

.cyb-en-sound:before {
  content: "\e94e";
}

.cyb-en-trash:before {
  content: "\e94f";
}

.cyb-en-triangle-down:before {
  content: "\e950";
}

.cyb-en-triangle-left:before {
  content: "\e951";
}

.cyb-en-triangle-right:before {
  content: "\e952";
}

.cyb-en-triangle-up:before {
  content: "\e953";
}

.cyb-en-uninstall:before {
  content: "\e954";
}

.cyb-en-upload-to-cloud:before {
  content: "\e955";
}

.cyb-en-upload:before {
  content: "\e956";
}

.cyb-en-add-user:before {
  content: "\e957";
}

.cyb-en-address:before {
  content: "\e958";
}

.cyb-en-adjust:before {
  content: "\e959";
}

.cyb-en-air:before {
  content: "\e95a";
}

.cyb-en-aircraft-landing:before {
  content: "\e95b";
}

.cyb-en-aircraft-take-off:before {
  content: "\e95c";
}

.cyb-en-aircraft:before {
  content: "\e95d";
}

.cyb-en-align-bottom:before {
  content: "\e95e";
}

.cyb-en-align-horizontal-middle:before {
  content: "\e95f";
}

.cyb-en-align-left:before {
  content: "\e960";
}

.cyb-en-align-right:before {
  content: "\e961";
}

.cyb-en-align-top:before {
  content: "\e962";
}

.cyb-en-align-vertical-middle:before {
  content: "\e963";
}

.cyb-en-archive:before {
  content: "\e964";
}

.cyb-en-area-graph:before {
  content: "\e965";
}

.cyb-en-attachment:before {
  content: "\e966";
}

.cyb-en-awareness-ribbon:before {
  content: "\e967";
}

.cyb-en-back-in-time:before {
  content: "\e968";
}

.cyb-en-back:before {
  content: "\e969";
}

.cyb-en-bar-graph:before {
  content: "\e96a";
}

.cyb-en-battery:before {
  content: "\e96b";
}

.cyb-en-beamed-note:before {
  content: "\e96c";
}

.cyb-en-bell:before {
  content: "\e96d";
}

.cyb-en-blackboard:before {
  content: "\e96e";
}

.cyb-en-block:before {
  content: "\e96f";
}

.cyb-en-book:before {
  content: "\e970";
}

.cyb-en-bowl:before {
  content: "\e971";
}

.cyb-en-box:before {
  content: "\e972";
}

.cyb-en-briefcase:before {
  content: "\e973";
}

.cyb-en-browser:before {
  content: "\e974";
}

.cyb-en-brush:before {
  content: "\e975";
}

.cyb-en-bucket:before {
  content: "\e976";
}

.cyb-en-cake:before {
  content: "\e977";
}

.cyb-en-calculator:before {
  content: "\e978";
}

.cyb-en-calendar:before {
  content: "\e979";
}

.cyb-en-camera:before {
  content: "\e97a";
}

.cyb-en-ccw:before {
  content: "\e97b";
}

.cyb-en-chat:before {
  content: "\e97c";
}

.cyb-en-check:before {
  content: "\e97d";
}

.cyb-en-circle-with-cross:before {
  content: "\e97e";
}

.cyb-en-circle-with-minus:before {
  content: "\e97f";
}

.cyb-en-circle-with-plus:before {
  content: "\e980";
}

.cyb-en-circle:before {
  content: "\e981";
}

.cyb-en-circular-graph:before {
  content: "\e982";
}

.cyb-en-clapperboard:before {
  content: "\e983";
}

.cyb-en-clipboard:before {
  content: "\e984";
}

.cyb-en-clock:before {
  content: "\e985";
}

.cyb-en-code:before {
  content: "\e986";
}

.cyb-en-cog:before {
  content: "\e987";
}

.cyb-en-colours:before {
  content: "\e988";
}

.cyb-en-compass:before {
  content: "\e989";
}

.cyb-en-copy:before {
  content: "\e98a";
}

.cyb-en-credit-card:before {
  content: "\e98b";
}

.cyb-en-credit:before {
  content: "\e98c";
}

.cyb-en-cross:before {
  content: "\e98d";
}

.cyb-en-cup:before {
  content: "\e98e";
}

.cyb-en-cw:before {
  content: "\e98f";
}

.cyb-en-cycle:before {
  content: "\e990";
}

.cyb-en-database:before {
  content: "\e991";
}

.cyb-en-dial-pad:before {
  content: "\e992";
}

.cyb-en-direction:before {
  content: "\e993";
}

.cyb-en-document:before {
  content: "\e994";
}

.cyb-en-documents:before {
  content: "\e995";
}

.cyb-en-drink:before {
  content: "\e996";
}

.cyb-en-drive:before {
  content: "\e997";
}

.cyb-en-drop:before {
  content: "\e998";
}

.cyb-en-edit:before {
  content: "\e999";
}

.cyb-en-email:before {
  content: "\e99a";
}

.cyb-en-emoji-happy:before {
  content: "\e99b";
}

.cyb-en-emoji-neutral:before {
  content: "\e99c";
}

.cyb-en-emoji-sad:before {
  content: "\e99d";
}

.cyb-en-erase:before {
  content: "\e99e";
}

.cyb-en-eraser:before {
  content: "\e99f";
}

.cyb-en-export:before {
  content: "\e9a0";
}

.cyb-en-eye:before {
  content: "\e9a1";
}

.cyb-en-feather:before {
  content: "\e9a2";
}

.cyb-en-flag:before {
  content: "\e9a3";
}

.cyb-en-flash:before {
  content: "\e9a4";
}

.cyb-en-flashlight:before {
  content: "\e9a5";
}

.cyb-en-flat-brush:before {
  content: "\e9a6";
}

.cyb-en-folder-images:before {
  content: "\e9a7";
}

.cyb-en-folder-music:before {
  content: "\e9a8";
}

.cyb-en-folder-video:before {
  content: "\e9a9";
}

.cyb-en-folder:before {
  content: "\e9aa";
}

.cyb-en-forward:before {
  content: "\e9ab";
}

.cyb-en-funnel:before {
  content: "\e9ac";
}

.cyb-en-game-controller:before {
  content: "\e9ad";
}

.cyb-en-gauge:before {
  content: "\e9ae";
}

.cyb-en-globe:before {
  content: "\e9af";
}

.cyb-en-graduation-cap:before {
  content: "\e9b0";
}

.cyb-en-grid:before {
  content: "\e9b1";
}

.cyb-en-hair-cross:before {
  content: "\e9b2";
}

.cyb-en-hand:before {
  content: "\e9b3";
}

.cyb-en-heart-outlined:before {
  content: "\e9b4";
}

.cyb-en-heart:before {
  content: "\e9b5";
}

.cyb-en-help-with-circle:before {
  content: "\e9b6";
}

.cyb-en-help:before {
  content: "\e9b7";
}

.cyb-en-home:before {
  content: "\e9b8";
}

.cyb-en-hour-glass:before {
  content: "\e9b9";
}

.cyb-en-image-inverted:before {
  content: "\e9ba";
}

.cyb-en-image:before {
  content: "\e9bb";
}

.cyb-en-images:before {
  content: "\e9bc";
}

.cyb-en-inbox:before {
  content: "\e9bd";
}

.cyb-en-infinity:before {
  content: "\e9be";
}

.cyb-en-info-with-circle:before {
  content: "\e9bf";
}

.cyb-en-info:before {
  content: "\e9c0";
}

.cyb-en-key:before {
  content: "\e9c1";
}

.cyb-en-keyboard:before {
  content: "\e9c2";
}

.cyb-en-lab-flask:before {
  content: "\e9c3";
}

.cyb-en-landline:before {
  content: "\e9c4";
}

.cyb-en-language:before {
  content: "\e9c5";
}

.cyb-en-laptop:before {
  content: "\e9c6";
}

.cyb-en-leaf:before {
  content: "\e9c7";
}

.cyb-en-level-down:before {
  content: "\e9c8";
}

.cyb-en-level-up:before {
  content: "\e9c9";
}

.cyb-en-lifebuoy:before {
  content: "\e9ca";
}

.cyb-en-light-bulb:before {
  content: "\e9cb";
}

.cyb-en-light-down:before {
  content: "\e9cc";
}

.cyb-en-light-up:before {
  content: "\e9cd";
}

.cyb-en-line-graph:before {
  content: "\e9ce";
}

.cyb-en-link:before {
  content: "\e9cf";
}

.cyb-en-list:before {
  content: "\e9d0";
}

.cyb-en-location-pin:before {
  content: "\e9d1";
}

.cyb-en-location:before {
  content: "\e9d2";
}

.cyb-en-lock-open:before {
  content: "\e9d3";
}

.cyb-en-lock:before {
  content: "\e9d4";
}

.cyb-en-log-out:before {
  content: "\e9d5";
}

.cyb-en-login:before {
  content: "\e9d6";
}

.cyb-en-loop:before {
  content: "\e9d7";
}

.cyb-en-magnet:before {
  content: "\e9d8";
}

.cyb-en-magnifying-glass:before {
  content: "\e9d9";
}

.cyb-en-mail:before {
  content: "\e9da";
}

.cyb-en-man:before {
  content: "\e9db";
}

.cyb-en-map:before {
  content: "\e9dc";
}

.cyb-en-mask:before {
  content: "\e9dd";
}

.cyb-en-medal:before {
  content: "\e9de";
}

.cyb-en-megaphone:before {
  content: "\e9df";
}

.cyb-en-menu:before {
  content: "\e9e0";
}

.cyb-en-message:before {
  content: "\e9e1";
}

.cyb-en-mic:before {
  content: "\e9e2";
}

.cyb-en-minus:before {
  content: "\e9e3";
}

.cyb-en-mobile:before {
  content: "\e9e4";
}

.cyb-en-modern-mic:before {
  content: "\e9e5";
}

.cyb-en-moon:before {
  content: "\e9e6";
}

.cyb-en-mouse:before {
  content: "\e9e7";
}

.cyb-en-music:before {
  content: "\e9e8";
}

.cyb-en-network:before {
  content: "\e9e9";
}

.cyb-en-new-message:before {
  content: "\e9ea";
}

.cyb-en-new:before {
  content: "\e9eb";
}

.cyb-en-news:before {
  content: "\e9ec";
}

.cyb-en-note:before {
  content: "\e9ed";
}

.cyb-en-notification:before {
  content: "\e9ee";
}

.cyb-en-old-mobile:before {
  content: "\e9ef";
}

.cyb-en-old-phone:before {
  content: "\e9f0";
}

.cyb-en-palette:before {
  content: "\e9f1";
}

.cyb-en-paper-plane:before {
  content: "\e9f2";
}

.cyb-en-pencil:before {
  content: "\e9f3";
}

.cyb-en-phone:before {
  content: "\e9f4";
}

.cyb-en-pie-chart:before {
  content: "\e9f5";
}

.cyb-en-pin:before {
  content: "\e9f6";
}

.cyb-en-plus:before {
  content: "\e9f7";
}

.cyb-en-popup:before {
  content: "\e9f8";
}

.cyb-en-power-plug:before {
  content: "\e9f9";
}

.cyb-en-price-ribbon:before {
  content: "\e9fa";
}

.cyb-en-price-tag:before {
  content: "\e9fb";
}

.cyb-en-print:before {
  content: "\e9fc";
}

.cyb-en-progress-empty:before {
  content: "\e9fd";
}

.cyb-en-progress-full:before {
  content: "\e9fe";
}

.cyb-en-progress-one:before {
  content: "\e9ff";
}

.cyb-en-progress-two:before {
  content: "\ea00";
}

.cyb-en-publish:before {
  content: "\ea01";
}

.cyb-en-quote:before {
  content: "\ea02";
}

.cyb-en-radio:before {
  content: "\ea03";
}

.cyb-en-reply-all:before {
  content: "\ea04";
}

.cyb-en-reply:before {
  content: "\ea05";
}

.cyb-en-retweet:before {
  content: "\ea06";
}

.cyb-en-rocket:before {
  content: "\ea07";
}

.cyb-en-round-brush:before {
  content: "\ea08";
}

.cyb-en-rss:before {
  content: "\ea09";
}

.cyb-en-ruler:before {
  content: "\ea0a";
}

.cyb-en-scissors:before {
  content: "\ea0b";
}

.cyb-en-share-alternitive:before {
  content: "\ea0c";
}

.cyb-en-share:before {
  content: "\ea0d";
}

.cyb-en-shareable:before {
  content: "\ea0e";
}

.cyb-en-shield:before {
  content: "\ea0f";
}

.cyb-en-shop:before {
  content: "\ea10";
}

.cyb-en-shopping-bag:before {
  content: "\ea11";
}

.cyb-en-shopping-basket:before {
  content: "\ea12";
}

.cyb-en-shopping-cart:before {
  content: "\ea13";
}

.cyb-en-shuffle:before {
  content: "\ea14";
}

.cyb-en-signal:before {
  content: "\ea15";
}

.cyb-en-sound-mix:before {
  content: "\ea16";
}

.cyb-en-sports-club:before {
  content: "\ea17";
}

.cyb-en-spreadsheet:before {
  content: "\ea18";
}

.cyb-en-squared-cross:before {
  content: "\ea19";
}

.cyb-en-squared-minus:before {
  content: "\ea1a";
}

.cyb-en-squared-plus:before {
  content: "\ea1b";
}

.cyb-en-star-outlined:before {
  content: "\ea1c";
}

.cyb-en-star:before {
  content: "\ea1d";
}

.cyb-en-stopwatch:before {
  content: "\ea1e";
}

.cyb-en-suitcase:before {
  content: "\ea1f";
}

.cyb-en-swap:before {
  content: "\ea20";
}

.cyb-en-sweden:before {
  content: "\ea21";
}

.cyb-en-switch:before {
  content: "\ea22";
}

.cyb-en-tablet:before {
  content: "\ea23";
}

.cyb-en-tag:before {
  content: "\ea24";
}

.cyb-en-text-document-inverted:before {
  content: "\ea25";
}

.cyb-en-text-document:before {
  content: "\ea26";
}

.cyb-en-text:before {
  content: "\ea27";
}

.cyb-en-thermometer:before {
  content: "\ea28";
}

.cyb-en-thumbs-down:before {
  content: "\ea29";
}

.cyb-en-thumbs-up:before {
  content: "\ea2a";
}

.cyb-en-thunder-cloud:before {
  content: "\ea2b";
}

.cyb-en-ticket:before {
  content: "\ea2c";
}

.cyb-en-time-slot:before {
  content: "\ea2d";
}

.cyb-en-tools:before {
  content: "\ea2e";
}

.cyb-en-traffic-cone:before {
  content: "\ea2f";
}

.cyb-en-tree:before {
  content: "\ea30";
}

.cyb-en-trophy:before {
  content: "\ea31";
}

.cyb-en-tv:before {
  content: "\ea32";
}

.cyb-en-typing:before {
  content: "\ea33";
}

.cyb-en-unread:before {
  content: "\ea34";
}

.cyb-en-untag:before {
  content: "\ea35";
}

.cyb-en-user:before {
  content: "\ea36";
}

.cyb-en-users:before {
  content: "\ea37";
}

.cyb-en-v-card:before {
  content: "\ea38";
}

.cyb-en-video:before {
  content: "\ea39";
}

.cyb-en-vinyl:before {
  content: "\ea3a";
}

.cyb-en-voicemail:before {
  content: "\ea3b";
}

.cyb-en-wallet:before {
  content: "\ea3c";
}

.cyb-en-water:before {
  content: "\ea3d";
}

.cyb-en-500px-with-circle:before {
  content: "\ea3e";
}

.cyb-en-500px:before {
  content: "\ea3f";
}

.cyb-en-basecamp:before {
  content: "\ea40";
}

.cyb-en-behance:before {
  content: "\ea41";
}

.cyb-en-creative-cloud:before {
  content: "\ea42";
}

.cyb-en-dropbox:before {
  content: "\ea43";
}

.cyb-en-evernote:before {
  content: "\ea44";
}

.cyb-en-flattr:before {
  content: "\ea45";
}

.cyb-en-foursquare:before {
  content: "\ea46";
}

.cyb-en-google-drive:before {
  content: "\ea47";
}

.cyb-en-google-hangouts:before {
  content: "\ea48";
}

.cyb-en-grooveshark:before {
  content: "\ea49";
}

.cyb-en-icloud:before {
  content: "\ea4a";
}

.cyb-en-mixi:before {
  content: "\ea4b";
}

.cyb-en-onedrive:before {
  content: "\ea4c";
}

.cyb-en-paypal:before {
  content: "\ea4d";
}

.cyb-en-picasa:before {
  content: "\ea4e";
}

.cyb-en-qq:before {
  content: "\ea4f";
}

.cyb-en-rdio-with-circle:before {
  content: "\ea50";
}

.cyb-en-renren:before {
  content: "\ea51";
}

.cyb-en-scribd:before {
  content: "\ea52";
}

.cyb-en-sina-weibo:before {
  content: "\ea53";
}

.cyb-en-skype-with-circle:before {
  content: "\ea54";
}

.cyb-en-skype:before {
  content: "\ea55";
}

.cyb-en-slideshare:before {
  content: "\ea56";
}

.cyb-en-smashing:before {
  content: "\ea57";
}

.cyb-en-soundcloud:before {
  content: "\ea58";
}

.cyb-en-spotify-with-circle:before {
  content: "\ea59";
}

.cyb-en-spotify:before {
  content: "\ea5a";
}

.cyb-en-swarm:before {
  content: "\ea5b";
}

.cyb-en-vine-with-circle:before {
  content: "\ea5c";
}

.cyb-en-vine:before {
  content: "\ea5d";
}

.cyb-en-vk-alternitive:before {
  content: "\ea5e";
}

.cyb-en-vk-with-circle:before {
  content: "\ea5f";
}

.cyb-en-vk:before {
  content: "\ea60";
}

.cyb-en-xing-with-circle:before {
  content: "\ea61";
}

.cyb-en-xing:before {
  content: "\ea62";
}

.cyb-en-yelp:before {
  content: "\ea63";
}

.cyb-en-dribbble-with-circle:before {
  content: "\ea64";
}

.cyb-en-dribbble:before {
  content: "\ea65";
}

.cyb-en-facebook-with-circle:before {
  content: "\ea66";
}

.cyb-en-facebook:before {
  content: "\ea67";
}

.cyb-en-flickr-with-circle:before {
  content: "\ea68";
}

.cyb-en-flickr:before {
  content: "\ea69";
}

.cyb-en-github-with-circle:before {
  content: "\ea6a";
}

.cyb-en-github:before {
  content: "\ea6b";
}

.cyb-en-google-with-circle:before {
  content: "\ea6c";
}

.cyb-en-google:before {
  content: "\ea6d";
}

.cyb-en-instagram-with-circle:before {
  content: "\ea6e";
}

.cyb-en-instagram:before {
  content: "\ea6f";
}

.cyb-en-lastfm-with-circle:before {
  content: "\ea70";
}

.cyb-en-lastfm:before {
  content: "\ea71";
}

.cyb-en-linkedin-with-circle:before {
  content: "\ea72";
}

.cyb-en-linkedin:before {
  content: "\ea73";
}

.cyb-en-pinterest-with-circle:before {
  content: "\ea74";
}

.cyb-en-pinterest:before {
  content: "\ea75";
}

.cyb-en-rdio:before {
  content: "\ea76";
}

.cyb-en-stumbleupon-with-circle:before {
  content: "\ea77";
}

.cyb-en-stumbleupon:before {
  content: "\ea78";
}

.cyb-en-tumblr-with-circle:before {
  content: "\ea79";
}

.cyb-en-tumblr:before {
  content: "\ea7a";
}

.cyb-en-twitter-with-circle:before {
  content: "\ea7b";
}

.cyb-en-twitter:before {
  content: "\ea7c";
}

.cyb-en-vimeo-with-circle:before {
  content: "\ea7d";
}

.cyb-en-vimeo:before {
  content: "\ea7e";
}

.cyb-en-youtube-with-circle:before {
  content: "\ea7f";
}

.cyb-en-youtube:before {
  content: "\ea80";
}