@charset "UTF-8";

@font-face {
  font-family: "b-network";
  src: url("./b-network.eot");
  src: url("./b-network.eot?#iefix") format("embedded-opentype"),
       url("./b-network.woff") format("woff"),
       url("./b-network.ttf") format("truetype"),
       url("./b-network.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="cyb-ls-bn-"]:before, [class*=" cyb-ls-bn-"]:before,
[class^="cyb-ls-bn-"]:after, [class*=" cyb-ls-bn-"]:after {   
font-family: "b-network" !important;
font-size: 20px;
font-style: normal !important;
font-weight: normal !important;
font-variant: normal !important;
text-transform: none !important;
text-align: center;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.cyb-ls-bn-001-folder-1:before { content: "\f100"; }
.cyb-ls-bn-002-internet-7:before { content: "\f101"; }
.cyb-ls-bn-003-satellite-dish:before { content: "\f102"; }
.cyb-ls-bn-004-wifi-3:before { content: "\f103"; }
.cyb-ls-bn-005-wifi-2:before { content: "\f104"; }
.cyb-ls-bn-006-shield:before { content: "\f105"; }
.cyb-ls-bn-007-networking-8:before { content: "\f106"; }
.cyb-ls-bn-008-chat:before { content: "\f107"; }
.cyb-ls-bn-009-internet-6:before { content: "\f108"; }
.cyb-ls-bn-010-laptop-2:before { content: "\f109"; }
.cyb-ls-bn-011-networking-7:before { content: "\f10a"; }
.cyb-ls-bn-012-networking-6:before { content: "\f10b"; }
.cyb-ls-bn-013-browser:before { content: "\f10c"; }
.cyb-ls-bn-014-network-4:before { content: "\f10d"; }
.cyb-ls-bn-015-tap-1:before { content: "\f10e"; }
.cyb-ls-bn-016-networking-5:before { content: "\f10f"; }
.cyb-ls-bn-017-internet-5:before { content: "\f110"; }
.cyb-ls-bn-018-networking-4:before { content: "\f111"; }
.cyb-ls-bn-019-link:before { content: "\f112"; }
.cyb-ls-bn-020-sync:before { content: "\f113"; }
.cyb-ls-bn-021-tap:before { content: "\f114"; }
.cyb-ls-bn-022-wifi-1:before { content: "\f115"; }
.cyb-ls-bn-023-networking-3:before { content: "\f116"; }
.cyb-ls-bn-024-responsive:before { content: "\f117"; }
.cyb-ls-bn-025-wifi:before { content: "\f118"; }
.cyb-ls-bn-026-internet-4:before { content: "\f119"; }
.cyb-ls-bn-027-server:before { content: "\f11a"; }
.cyb-ls-bn-028-firewall:before { content: "\f11b"; }
.cyb-ls-bn-029-cloud-computing-5:before { content: "\f11c"; }
.cyb-ls-bn-030-internet-3:before { content: "\f11d"; }
.cyb-ls-bn-031-folder:before { content: "\f11e"; }
.cyb-ls-bn-032-network-3:before { content: "\f11f"; }
.cyb-ls-bn-033-internet-2:before { content: "\f120"; }
.cyb-ls-bn-034-cloud-computing-4:before { content: "\f121"; }
.cyb-ls-bn-035-internet-1:before { content: "\f122"; }
.cyb-ls-bn-036-cloud-computing-3:before { content: "\f123"; }
.cyb-ls-bn-037-cloud-computing-2:before { content: "\f124"; }
.cyb-ls-bn-038-networking-2:before { content: "\f125"; }
.cyb-ls-bn-039-networking-1:before { content: "\f126"; }
.cyb-ls-bn-040-servers:before { content: "\f127"; }
.cyb-ls-bn-041-laptop-1:before { content: "\f128"; }
.cyb-ls-bn-042-internet:before { content: "\f129"; }
.cyb-ls-bn-043-cloud-computing-1:before { content: "\f12a"; }
.cyb-ls-bn-044-networking:before { content: "\f12b"; }
.cyb-ls-bn-045-conversation:before { content: "\f12c"; }
.cyb-ls-bn-046-laptop:before { content: "\f12d"; }
.cyb-ls-bn-047-network-2:before { content: "\f12e"; }
.cyb-ls-bn-048-cloud-computing:before { content: "\f12f"; }
.cyb-ls-bn-049-network-1:before { content: "\f130"; }
.cyb-ls-bn-050-network:before { content: "\f131"; }