@charset "UTF-8";

@font-face {
  font-family: "typicons";
  src: url('typicons.eot?5km1tg');
  src: url('typicons.eot?#iefix5km1tg') format('embedded-opentype'),
  url('typicons.ttf?5km1tg') format('truetype'),
  url('typicons.woff?5km1tg') format('woff'),
  url('typicons.svg?5km1tg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "typicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cyb-tc-"]:before,
[class*=" cyb-tc-"]:before {
  font-family: "typicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cyb-tc-times:before {
  content: "\e900";
}

.cyb-tc-tick:before {
  content: "\e901";
}

.cyb-tc-plus:before {
  content: "\e902";
}

.cyb-tc-minus:before {
  content: "\e903";
}

.cyb-tc-equals:before {
  content: "\e904";
}

.cyb-tc-divide:before {
  content: "\e905";
}

.cyb-tc-chevron-right:before {
  content: "\e906";
}

.cyb-tc-chevron-left:before {
  content: "\e907";
}

.cyb-tc-arrow-right-thick:before {
  content: "\e908";
}

.cyb-tc-arrow-left-thick:before {
  content: "\e909";
}

.cyb-tc-th-small:before {
  content: "\e90a";
}

.cyb-tc-th-menu:before {
  content: "\e90b";
}

.cyb-tc-th-list:before {
  content: "\e90c";
}

.cyb-tc-th-large:before {
  content: "\e90d";
}

.cyb-tc-home:before {
  content: "\e90e";
}

.cyb-tc-arrow-forward:before {
  content: "\e90f";
}

.cyb-tc-arrow-back:before {
  content: "\e910";
}

.cyb-tc-rss:before {
  content: "\e911";
}

.cyb-tc-location:before {
  content: "\e912";
}

.cyb-tc-link:before {
  content: "\e913";
}

.cyb-tc-image:before {
  content: "\e914";
}

.cyb-tc-arrow-up-thick:before {
  content: "\e915";
}

.cyb-tc-arrow-down-thick:before {
  content: "\e916";
}

.cyb-tc-starburst:before {
  content: "\e917";
}

.cyb-tc-starburst-outline:before {
  content: "\e918";
}

.cyb-tc-star:before {
  content: "\e919";
}

.cyb-tc-flow-children:before {
  content: "\e91a";
}

.cyb-tc-export:before {
  content: "\e91b";
}

.cyb-tc-delete:before {
  content: "\e91c";
}

.cyb-tc-delete-outline:before {
  content: "\e91d";
}

.cyb-tc-cloud-storage:before {
  content: "\e91e";
}

.cyb-tc-wi-fi:before {
  content: "\e91f";
}

.cyb-tc-heart:before {
  content: "\e920";
}

.cyb-tc-flash:before {
  content: "\e921";
}

.cyb-tc-cancel:before {
  content: "\e922";
}

.cyb-tc-backspace:before {
  content: "\e923";
}

.cyb-tc-attachment:before {
  content: "\e924";
}

.cyb-tc-arrow-move:before {
  content: "\e925";
}

.cyb-tc-warning:before {
  content: "\e926";
}

.cyb-tc-user:before {
  content: "\e927";
}

.cyb-tc-radar:before {
  content: "\e928";
}

.cyb-tc-lock-open:before {
  content: "\e929";
}

.cyb-tc-lock-closed:before {
  content: "\e92a";
}

.cyb-tc-location-arrow:before {
  content: "\e92b";
}

.cyb-tc-info:before {
  content: "\e92c";
}

.cyb-tc-user-delete:before {
  content: "\e92d";
}

.cyb-tc-user-add:before {
  content: "\e92e";
}

.cyb-tc-media-pause:before {
  content: "\e92f";
}

.cyb-tc-group:before {
  content: "\e930";
}

.cyb-tc-chart-pie:before {
  content: "\e931";
}

.cyb-tc-chart-line:before {
  content: "\e932";
}

.cyb-tc-chart-bar:before {
  content: "\e933";
}

.cyb-tc-chart-area:before {
  content: "\e934";
}

.cyb-tc-video:before {
  content: "\e935";
}

.cyb-tc-point-of-interest:before {
  content: "\e936";
}

.cyb-tc-infinity:before {
  content: "\e937";
}

.cyb-tc-globe:before {
  content: "\e938";
}

.cyb-tc-eye:before {
  content: "\e939";
}

.cyb-tc-cog:before {
  content: "\e93a";
}

.cyb-tc-camera:before {
  content: "\e93b";
}

.cyb-tc-upload:before {
  content: "\e93c";
}

.cyb-tc-scissors:before {
  content: "\e93d";
}

.cyb-tc-refresh:before {
  content: "\e93e";
}

.cyb-tc-pin:before {
  content: "\e93f";
}

.cyb-tc-key:before {
  content: "\e940";
}

.cyb-tc-info-large:before {
  content: "\e941";
}

.cyb-tc-eject:before {
  content: "\e942";
}

.cyb-tc-download:before {
  content: "\e943";
}

.cyb-tc-zoom:before {
  content: "\e944";
}

.cyb-tc-zoom-out:before {
  content: "\e945";
}

.cyb-tc-zoom-in:before {
  content: "\e946";
}

.cyb-tc-sort-numerically:before {
  content: "\e947";
}

.cyb-tc-sort-alphabetically:before {
  content: "\e948";
}

.cyb-tc-input-checked:before {
  content: "\e949";
}

.cyb-tc-calender:before {
  content: "\e94a";
}

.cyb-tc-world:before {
  content: "\e94b";
}

.cyb-tc-notes:before {
  content: "\e94c";
}

.cyb-tc-code:before {
  content: "\e94d";
}

.cyb-tc-arrow-sync:before {
  content: "\e94e";
}

.cyb-tc-arrow-shuffle:before {
  content: "\e94f";
}

.cyb-tc-arrow-repeat:before {
  content: "\e950";
}

.cyb-tc-arrow-minimise:before {
  content: "\e951";
}

.cyb-tc-arrow-maximise:before {
  content: "\e952";
}

.cyb-tc-arrow-loop:before {
  content: "\e953";
}

.cyb-tc-anchor:before {
  content: "\e954";
}

.cyb-tc-spanner:before {
  content: "\e955";
}

.cyb-tc-puzzle:before {
  content: "\e956";
}

.cyb-tc-power:before {
  content: "\e957";
}

.cyb-tc-plane:before {
  content: "\e958";
}

.cyb-tc-pi:before {
  content: "\e959";
}

.cyb-tc-phone:before {
  content: "\e95a";
}

.cyb-tc-microphone:before {
  content: "\e95b";
}

.cyb-tc-media-rewind:before {
  content: "\e95c";
}

.cyb-tc-flag:before {
  content: "\e95d";
}

.cyb-tc-adjust-brightness:before {
  content: "\e95e";
}

.cyb-tc-waves:before {
  content: "\e95f";
}

.cyb-tc-social-twitter:before {
  content: "\e960";
}

.cyb-tc-social-facebook:before {
  content: "\e961";
}

.cyb-tc-social-dribbble:before {
  content: "\e962";
}

.cyb-tc-media-stop:before {
  content: "\e963";
}

.cyb-tc-media-record:before {
  content: "\e964";
}

.cyb-tc-media-play:before {
  content: "\e965";
}

.cyb-tc-media-fast-forward:before {
  content: "\e966";
}

.cyb-tc-media-eject:before {
  content: "\e967";
}

.cyb-tc-social-vimeo:before {
  content: "\e968";
}

.cyb-tc-social-tumbler:before {
  content: "\e969";
}

.cyb-tc-social-skype:before {
  content: "\e96a";
}

.cyb-tc-social-pinterest:before {
  content: "\e96b";
}

.cyb-tc-social-linkedin:before {
  content: "\e96c";
}

.cyb-tc-social-last-fm:before {
  content: "\e96d";
}

.cyb-tc-social-github:before {
  content: "\e96e";
}

.cyb-tc-social-flickr:before {
  content: "\e96f";
}

.cyb-tc-at:before {
  content: "\e970";
}

.cyb-tc-times-outline:before {
  content: "\e971";
}

.cyb-tc-plus-outline:before {
  content: "\e972";
}

.cyb-tc-minus-outline:before {
  content: "\e973";
}

.cyb-tc-tick-outline:before {
  content: "\e974";
}

.cyb-tc-th-large-outline:before {
  content: "\e975";
}

.cyb-tc-equals-outline:before {
  content: "\e976";
}

.cyb-tc-divide-outline:before {
  content: "\e977";
}

.cyb-tc-chevron-right-outline:before {
  content: "\e978";
}

.cyb-tc-chevron-left-outline:before {
  content: "\e979";
}

.cyb-tc-arrow-right-outline:before {
  content: "\e97a";
}

.cyb-tc-arrow-left-outline:before {
  content: "\e97b";
}

.cyb-tc-th-small-outline:before {
  content: "\e97c";
}

.cyb-tc-th-menu-outline:before {
  content: "\e97d";
}

.cyb-tc-th-list-outline:before {
  content: "\e97e";
}

.cyb-tc-news:before {
  content: "\e97f";
}

.cyb-tc-home-outline:before {
  content: "\e980";
}

.cyb-tc-arrow-up-outline:before {
  content: "\e981";
}

.cyb-tc-arrow-forward-outline:before {
  content: "\e982";
}

.cyb-tc-arrow-down-outline:before {
  content: "\e983";
}

.cyb-tc-arrow-back-outline:before {
  content: "\e984";
}

.cyb-tc-trash:before {
  content: "\e985";
}

.cyb-tc-rss-outline:before {
  content: "\e986";
}

.cyb-tc-message:before {
  content: "\e987";
}

.cyb-tc-location-outline:before {
  content: "\e988";
}

.cyb-tc-link-outline:before {
  content: "\e989";
}

.cyb-tc-image-outline:before {
  content: "\e98a";
}

.cyb-tc-export-outline:before {
  content: "\e98b";
}

.cyb-tc-cross:before {
  content: "\e98c";
}

.cyb-tc-wi-fi-outline:before {
  content: "\e98d";
}

.cyb-tc-star-outline:before {
  content: "\e98e";
}

.cyb-tc-media-pause-outline:before {
  content: "\e98f";
}

.cyb-tc-mail:before {
  content: "\e990";
}

.cyb-tc-heart-outline:before {
  content: "\e991";
}

.cyb-tc-flash-outline:before {
  content: "\e992";
}

.cyb-tc-cancel-outline:before {
  content: "\e993";
}

.cyb-tc-beaker:before {
  content: "\e994";
}

.cyb-tc-arrow-move-outline:before {
  content: "\e995";
}

.cyb-tc-watch:before {
  content: "\e996";
}

.cyb-tc-warning-outline:before {
  content: "\e997";
}

.cyb-tc-time:before {
  content: "\e998";
}

.cyb-tc-radar-outline:before {
  content: "\e999";
}

.cyb-tc-lock-open-outline:before {
  content: "\e99a";
}

.cyb-tc-location-arrow-outline:before {
  content: "\e99b";
}

.cyb-tc-info-outline:before {
  content: "\e99c";
}

.cyb-tc-backspace-outline:before {
  content: "\e99d";
}

.cyb-tc-attachment-outline:before {
  content: "\e99e";
}

.cyb-tc-user-outline:before {
  content: "\e99f";
}

.cyb-tc-user-delete-outline:before {
  content: "\e9a0";
}

.cyb-tc-user-add-outline:before {
  content: "\e9a1";
}

.cyb-tc-lock-closed-outline:before {
  content: "\e9a2";
}

.cyb-tc-group-outline:before {
  content: "\e9a3";
}

.cyb-tc-chart-pie-outline:before {
  content: "\e9a4";
}

.cyb-tc-chart-line-outline:before {
  content: "\e9a5";
}

.cyb-tc-chart-bar-outline:before {
  content: "\e9a6";
}

.cyb-tc-chart-area-outline:before {
  content: "\e9a7";
}

.cyb-tc-video-outline:before {
  content: "\e9a8";
}

.cyb-tc-point-of-interest-outline:before {
  content: "\e9a9";
}

.cyb-tc-map:before {
  content: "\e9aa";
}

.cyb-tc-key-outline:before {
  content: "\e9ab";
}

.cyb-tc-infinity-outline:before {
  content: "\e9ac";
}

.cyb-tc-globe-outline:before {
  content: "\e9ad";
}

.cyb-tc-eye-outline:before {
  content: "\e9ae";
}

.cyb-tc-cog-outline:before {
  content: "\e9af";
}

.cyb-tc-camera-outline:before {
  content: "\e9b0";
}

.cyb-tc-upload-outline:before {
  content: "\e9b1";
}

.cyb-tc-support:before {
  content: "\e9b2";
}

.cyb-tc-scissors-outline:before {
  content: "\e9b3";
}

.cyb-tc-refresh-outline:before {
  content: "\e9b4";
}

.cyb-tc-info-large-outline:before {
  content: "\e9b5";
}

.cyb-tc-eject-outline:before {
  content: "\e9b6";
}

.cyb-tc-download-outline:before {
  content: "\e9b7";
}

.cyb-tc-battery-mid:before {
  content: "\e9b8";
}

.cyb-tc-battery-low:before {
  content: "\e9b9";
}

.cyb-tc-battery-high:before {
  content: "\e9ba";
}

.cyb-tc-zoom-outline:before {
  content: "\e9bb";
}

.cyb-tc-zoom-out-outline:before {
  content: "\e9bc";
}

.cyb-tc-zoom-in-outline:before {
  content: "\e9bd";
}

.cyb-tc-tag:before {
  content: "\e9be";
}

.cyb-tc-tabs-outline:before {
  content: "\e9bf";
}

.cyb-tc-pin-outline:before {
  content: "\e9c0";
}

.cyb-tc-message-typing:before {
  content: "\e9c1";
}

.cyb-tc-directions:before {
  content: "\e9c2";
}

.cyb-tc-battery-full:before {
  content: "\e9c3";
}

.cyb-tc-battery-charge:before {
  content: "\e9c4";
}

.cyb-tc-pipette:before {
  content: "\e9c5";
}

.cyb-tc-pencil:before {
  content: "\e9c6";
}

.cyb-tc-folder:before {
  content: "\e9c7";
}

.cyb-tc-folder-delete:before {
  content: "\e9c8";
}

.cyb-tc-folder-add:before {
  content: "\e9c9";
}

.cyb-tc-edit:before {
  content: "\e9ca";
}

.cyb-tc-document:before {
  content: "\e9cb";
}

.cyb-tc-document-delete:before {
  content: "\e9cc";
}

.cyb-tc-document-add:before {
  content: "\e9cd";
}

.cyb-tc-brush:before {
  content: "\e9ce";
}

.cyb-tc-thumbs-up:before {
  content: "\e9cf";
}

.cyb-tc-thumbs-down:before {
  content: "\e9d0";
}

.cyb-tc-pen:before {
  content: "\e9d1";
}

.cyb-tc-sort-numerically-outline:before {
  content: "\e9d2";
}

.cyb-tc-sort-alphabetically-outline:before {
  content: "\e9d3";
}

.cyb-tc-social-last-fm-circular:before {
  content: "\e9d4";
}

.cyb-tc-social-github-circular:before {
  content: "\e9d5";
}

.cyb-tc-compass:before {
  content: "\e9d6";
}

.cyb-tc-bookmark:before {
  content: "\e9d7";
}

.cyb-tc-input-checked-outline:before {
  content: "\e9d8";
}

.cyb-tc-code-outline:before {
  content: "\e9d9";
}

.cyb-tc-calender-outline:before {
  content: "\e9da";
}

.cyb-tc-business-card:before {
  content: "\e9db";
}

.cyb-tc-arrow-up:before {
  content: "\e9dc";
}

.cyb-tc-arrow-sync-outline:before {
  content: "\e9dd";
}

.cyb-tc-arrow-right:before {
  content: "\e9de";
}

.cyb-tc-arrow-repeat-outline:before {
  content: "\e9df";
}

.cyb-tc-arrow-loop-outline:before {
  content: "\e9e0";
}

.cyb-tc-arrow-left:before {
  content: "\e9e1";
}

.cyb-tc-flow-switch:before {
  content: "\e9e2";
}

.cyb-tc-flow-parallel:before {
  content: "\e9e3";
}

.cyb-tc-flow-merge:before {
  content: "\e9e4";
}

.cyb-tc-document-text:before {
  content: "\e9e5";
}

.cyb-tc-clipboard:before {
  content: "\e9e6";
}

.cyb-tc-calculator:before {
  content: "\e9e7";
}

.cyb-tc-arrow-minimise-outline:before {
  content: "\e9e8";
}

.cyb-tc-arrow-maximise-outline:before {
  content: "\e9e9";
}

.cyb-tc-arrow-down:before {
  content: "\e9ea";
}

.cyb-tc-gift:before {
  content: "\e9eb";
}

.cyb-tc-film:before {
  content: "\e9ec";
}

.cyb-tc-database:before {
  content: "\e9ed";
}

.cyb-tc-bell:before {
  content: "\e9ee";
}

.cyb-tc-anchor-outline:before {
  content: "\e9ef";
}

.cyb-tc-adjust-contrast:before {
  content: "\e9f0";
}

.cyb-tc-world-outline:before {
  content: "\e9f1";
}

.cyb-tc-shopping-bag:before {
  content: "\e9f2";
}

.cyb-tc-power-outline:before {
  content: "\e9f3";
}

.cyb-tc-notes-outline:before {
  content: "\e9f4";
}

.cyb-tc-device-tablet:before {
  content: "\e9f5";
}

.cyb-tc-device-phone:before {
  content: "\e9f6";
}

.cyb-tc-device-laptop:before {
  content: "\e9f7";
}

.cyb-tc-device-desktop:before {
  content: "\e9f8";
}

.cyb-tc-briefcase:before {
  content: "\e9f9";
}

.cyb-tc-stopwatch:before {
  content: "\e9fa";
}

.cyb-tc-spanner-outline:before {
  content: "\e9fb";
}

.cyb-tc-puzzle-outline:before {
  content: "\e9fc";
}

.cyb-tc-printer:before {
  content: "\e9fd";
}

.cyb-tc-pi-outline:before {
  content: "\e9fe";
}

.cyb-tc-lightbulb:before {
  content: "\e9ff";
}

.cyb-tc-flag-outline:before {
  content: "\ea00";
}

.cyb-tc-contacts:before {
  content: "\ea01";
}

.cyb-tc-archive:before {
  content: "\ea02";
}

.cyb-tc-weather-stormy:before {
  content: "\ea03";
}

.cyb-tc-weather-shower:before {
  content: "\ea04";
}

.cyb-tc-weather-partly-sunny:before {
  content: "\ea05";
}

.cyb-tc-weather-downpour:before {
  content: "\ea06";
}

.cyb-tc-weather-cloudy:before {
  content: "\ea07";
}

.cyb-tc-plane-outline:before {
  content: "\ea08";
}

.cyb-tc-phone-outline:before {
  content: "\ea09";
}

.cyb-tc-microphone-outline:before {
  content: "\ea0a";
}

.cyb-tc-weather-windy:before {
  content: "\ea0b";
}

.cyb-tc-weather-windy-cloudy:before {
  content: "\ea0c";
}

.cyb-tc-weather-sunny:before {
  content: "\ea0d";
}

.cyb-tc-weather-snow:before {
  content: "\ea0e";
}

.cyb-tc-weather-night:before {
  content: "\ea0f";
}

.cyb-tc-media-stop-outline:before {
  content: "\ea10";
}

.cyb-tc-media-rewind-outline:before {
  content: "\ea11";
}

.cyb-tc-media-record-outline:before {
  content: "\ea12";
}

.cyb-tc-media-play-outline:before {
  content: "\ea13";
}

.cyb-tc-media-fast-forward-outline:before {
  content: "\ea14";
}

.cyb-tc-media-eject-outline:before {
  content: "\ea15";
}

.cyb-tc-wine:before {
  content: "\ea16";
}

.cyb-tc-waves-outline:before {
  content: "\ea17";
}

.cyb-tc-ticket:before {
  content: "\ea18";
}

.cyb-tc-tags:before {
  content: "\ea19";
}

.cyb-tc-plug:before {
  content: "\ea1a";
}

.cyb-tc-headphones:before {
  content: "\ea1b";
}

.cyb-tc-credit-card:before {
  content: "\ea1c";
}

.cyb-tc-coffee:before {
  content: "\ea1d";
}

.cyb-tc-book:before {
  content: "\ea1e";
}

.cyb-tc-beer:before {
  content: "\ea1f";
}

.cyb-tc-volume:before {
  content: "\ea20";
}

.cyb-tc-volume-up:before {
  content: "\ea21";
}

.cyb-tc-volume-mute:before {
  content: "\ea22";
}

.cyb-tc-volume-down:before {
  content: "\ea23";
}

.cyb-tc-social-vimeo-circular:before {
  content: "\ea24";
}

.cyb-tc-social-twitter-circular:before {
  content: "\ea25";
}

.cyb-tc-social-pinterest-circular:before {
  content: "\ea26";
}

.cyb-tc-social-linkedin-circular:before {
  content: "\ea27";
}

.cyb-tc-social-facebook-circular:before {
  content: "\ea28";
}

.cyb-tc-social-dribbble-circular:before {
  content: "\ea29";
}

.cyb-tc-tree:before {
  content: "\ea2a";
}

.cyb-tc-thermometer:before {
  content: "\ea2b";
}

.cyb-tc-social-tumbler-circular:before {
  content: "\ea2c";
}

.cyb-tc-social-skype-outline:before {
  content: "\ea2d";
}

.cyb-tc-social-flickr-circular:before {
  content: "\ea2e";
}

.cyb-tc-social-at-circular:before {
  content: "\ea2f";
}

.cyb-tc-shopping-cart:before {
  content: "\ea30";
}

.cyb-tc-messages:before {
  content: "\ea31";
}

.cyb-tc-leaf:before {
  content: "\ea32";
}

.cyb-tc-feather:before {
  content: "\ea33";
}