body.app-dark {
  background-color: #383339;

  .mat-mdc-card {
    background-color: #1a1a1a !important;
  }

  .card-title {
    color: #ffffff;
  }

  .amcharts-XYChart text {
    fill: #ffffff;
  }

  .amcharts-PieChart text {
    fill: #000000 !important;
  }
}

body.light-theme {
  background-color: white;

  .mat-mdc-card {
    background-color: #ffffff !important;
  }
  .card-title {
    color: #000000;
  }

  .amcharts-XYChart text {
    fill: #000000;
  }

  .amcharts-PieChart text {
    fill: #ffffff !important;
  }
}

body.dark-theme .cdk-overlay-pane .mat-tooltip {
  color: white !important;
  background: #333 !important;
}

body.light-theme .cdk-overlay-pane .mat-tooltip {
  color: black !important;
  background: #f5f5f5 !important;
}
