@charset "UTF-8";

@font-face {
  font-family: "internet";
  src: url("./internet.eot");
  src: url("./internet.eot?#iefix") format("embedded-opentype"),
       url("./internet.woff") format("woff"),
       url("./internet.ttf") format("truetype"),
       url("./internet.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="cyb-ls-i-"]:before, [class*=" cyb-ls-i-"]:before,
[class^="cyb-ls-i-"]:after, [class*=" cyb-ls-i-"]:after {   
font-family: "internet" !important;
font-size: 20px;
font-style: normal !important;
font-weight: normal !important;
font-variant: normal !important;
text-transform: none !important;
text-align: center;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.cyb-ls-i-001-zoom-out:before { content: "\f100"; }
.cyb-ls-i-002-book:before { content: "\f101"; }
.cyb-ls-i-003-wristwatch:before { content: "\f102"; }
.cyb-ls-i-004-router-4:before { content: "\f103"; }
.cyb-ls-i-005-router-3:before { content: "\f104"; }
.cyb-ls-i-006-router-2:before { content: "\f105"; }
.cyb-ls-i-007-webpage-3:before { content: "\f106"; }
.cyb-ls-i-008-webpage-2:before { content: "\f107"; }
.cyb-ls-i-009-webpage-1:before { content: "\f108"; }
.cyb-ls-i-010-webpage:before { content: "\f109"; }
.cyb-ls-i-011-webcam:before { content: "\f10a"; }
.cyb-ls-i-012-settings:before { content: "\f10b"; }
.cyb-ls-i-013-ranking:before { content: "\f10c"; }
.cyb-ls-i-014-analytics:before { content: "\f10d"; }
.cyb-ls-i-015-washing-machine:before { content: "\f10e"; }
.cyb-ls-i-016-walkie-talkie:before { content: "\f10f"; }
.cyb-ls-i-017-volume:before { content: "\f110"; }
.cyb-ls-i-018-video:before { content: "\f111"; }
.cyb-ls-i-019-verified:before { content: "\f112"; }
.cyb-ls-i-020-usb-1:before { content: "\f113"; }
.cyb-ls-i-021-usb:before { content: "\f114"; }
.cyb-ls-i-022-uploading:before { content: "\f115"; }
.cyb-ls-i-023-tv:before { content: "\f116"; }
.cyb-ls-i-024-tower:before { content: "\f117"; }
.cyb-ls-i-025-pole:before { content: "\f118"; }
.cyb-ls-i-026-team:before { content: "\f119"; }
.cyb-ls-i-027-tag-1:before { content: "\f11a"; }
.cyb-ls-i-028-tag:before { content: "\f11b"; }
.cyb-ls-i-029-spy:before { content: "\f11c"; }
.cyb-ls-i-030-speech:before { content: "\f11d"; }
.cyb-ls-i-031-speech-bubble-2:before { content: "\f11e"; }
.cyb-ls-i-032-speech-bubble-1:before { content: "\f11f"; }
.cyb-ls-i-033-speech-bubble:before { content: "\f120"; }
.cyb-ls-i-034-speakers-1:before { content: "\f121"; }
.cyb-ls-i-035-speakers:before { content: "\f122"; }
.cyb-ls-i-036-sound-card:before { content: "\f123"; }
.cyb-ls-i-037-bars:before { content: "\f124"; }
.cyb-ls-i-038-hierarchy-2:before { content: "\f125"; }
.cyb-ls-i-039-hierarchy-1:before { content: "\f126"; }
.cyb-ls-i-040-link-2:before { content: "\f127"; }
.cyb-ls-i-041-server-9:before { content: "\f128"; }
.cyb-ls-i-042-server-8:before { content: "\f129"; }
.cyb-ls-i-043-server-7:before { content: "\f12a"; }
.cyb-ls-i-044-server-6:before { content: "\f12b"; }
.cyb-ls-i-045-server-5:before { content: "\f12c"; }
.cyb-ls-i-046-server-4:before { content: "\f12d"; }
.cyb-ls-i-047-server-3:before { content: "\f12e"; }
.cyb-ls-i-048-search:before { content: "\f12f"; }
.cyb-ls-i-049-sd-card:before { content: "\f130"; }
.cyb-ls-i-050-satellite-1:before { content: "\f131"; }
.cyb-ls-i-051-satellite:before { content: "\f132"; }
.cyb-ls-i-052-router-1:before { content: "\f133"; }
.cyb-ls-i-053-modem-2:before { content: "\f134"; }
.cyb-ls-i-054-qr-code:before { content: "\f135"; }
.cyb-ls-i-055-cpu:before { content: "\f136"; }
.cyb-ls-i-056-printer:before { content: "\f137"; }
.cyb-ls-i-057-post:before { content: "\f138"; }
.cyb-ls-i-058-plug-1:before { content: "\f139"; }
.cyb-ls-i-059-photo:before { content: "\f13a"; }
.cyb-ls-i-060-network-1:before { content: "\f13b"; }
.cyb-ls-i-061-server-2:before { content: "\f13c"; }
.cyb-ls-i-062-server-1:before { content: "\f13d"; }
.cyb-ls-i-063-outlet:before { content: "\f13e"; }
.cyb-ls-i-064-folder:before { content: "\f13f"; }
.cyb-ls-i-065-mouse-1:before { content: "\f140"; }
.cyb-ls-i-066-mouse:before { content: "\f141"; }
.cyb-ls-i-067-monitor:before { content: "\f142"; }
.cyb-ls-i-068-mobile-3:before { content: "\f143"; }
.cyb-ls-i-069-mobile-2:before { content: "\f144"; }
.cyb-ls-i-070-mobile-1:before { content: "\f145"; }
.cyb-ls-i-071-mobile:before { content: "\f146"; }
.cyb-ls-i-072-microphone:before { content: "\f147"; }
.cyb-ls-i-073-pin-1:before { content: "\f148"; }
.cyb-ls-i-074-mail:before { content: "\f149"; }
.cyb-ls-i-075-cloud-8:before { content: "\f14a"; }
.cyb-ls-i-076-padlock:before { content: "\f14b"; }
.cyb-ls-i-077-pin:before { content: "\f14c"; }
.cyb-ls-i-078-link-1:before { content: "\f14d"; }
.cyb-ls-i-079-layout:before { content: "\f14e"; }
.cyb-ls-i-080-laptop:before { content: "\f14f"; }
.cyb-ls-i-081-lan-1:before { content: "\f150"; }
.cyb-ls-i-082-lan:before { content: "\f151"; }
.cyb-ls-i-083-keyboard-1:before { content: "\f152"; }
.cyb-ls-i-084-keyboard:before { content: "\f153"; }
.cyb-ls-i-085-console:before { content: "\f154"; }
.cyb-ls-i-086-ipod:before { content: "\f155"; }
.cyb-ls-i-087-investigation:before { content: "\f156"; }
.cyb-ls-i-088-internet:before { content: "\f157"; }
.cyb-ls-i-089-modem-1:before { content: "\f158"; }
.cyb-ls-i-090-modem:before { content: "\f159"; }
.cyb-ls-i-091-router:before { content: "\f15a"; }
.cyb-ls-i-092-id-1:before { content: "\f15b"; }
.cyb-ls-i-093-id:before { content: "\f15c"; }
.cyb-ls-i-094-house:before { content: "\f15d"; }
.cyb-ls-i-095-server:before { content: "\f15e"; }
.cyb-ls-i-096-hierarchy:before { content: "\f15f"; }
.cyb-ls-i-097-headphones:before { content: "\f160"; }
.cyb-ls-i-098-globe-1:before { content: "\f161"; }
.cyb-ls-i-099-globe:before { content: "\f162"; }
.cyb-ls-i-100-network:before { content: "\f163"; }
.cyb-ls-i-101-flowchart-1:before { content: "\f164"; }
.cyb-ls-i-102-flowchart:before { content: "\f165"; }
.cyb-ls-i-103-floppy:before { content: "\f166"; }
.cyb-ls-i-104-film-reel:before { content: "\f167"; }
.cyb-ls-i-105-equalizer:before { content: "\f168"; }
.cyb-ls-i-106-dvd:before { content: "\f169"; }
.cyb-ls-i-107-drawers:before { content: "\f16a"; }
.cyb-ls-i-108-download-2:before { content: "\f16b"; }
.cyb-ls-i-109-document:before { content: "\f16c"; }
.cyb-ls-i-110-device:before { content: "\f16d"; }
.cyb-ls-i-111-database-1:before { content: "\f16e"; }
.cyb-ls-i-112-database:before { content: "\f16f"; }
.cyb-ls-i-113-share:before { content: "\f170"; }
.cyb-ls-i-114-connection-1:before { content: "\f171"; }
.cyb-ls-i-115-cloud-7:before { content: "\f172"; }
.cyb-ls-i-116-cloud-6:before { content: "\f173"; }
.cyb-ls-i-117-socket:before { content: "\f174"; }
.cyb-ls-i-118-cloud-5:before { content: "\f175"; }
.cyb-ls-i-119-cloud-4:before { content: "\f176"; }
.cyb-ls-i-120-cloud-3:before { content: "\f177"; }
.cyb-ls-i-121-cloud-2:before { content: "\f178"; }
.cyb-ls-i-122-plug:before { content: "\f179"; }
.cyb-ls-i-123-cloud-1:before { content: "\f17a"; }
.cyb-ls-i-124-cloud:before { content: "\f17b"; }
.cyb-ls-i-125-download-1:before { content: "\f17c"; }
.cyb-ls-i-126-download:before { content: "\f17d"; }
.cyb-ls-i-127-connection:before { content: "\f17e"; }
.cyb-ls-i-128-cinema:before { content: "\f17f"; }
.cyb-ls-i-129-cd:before { content: "\f180"; }
.cyb-ls-i-130-cassette:before { content: "\f181"; }
.cyb-ls-i-131-camera:before { content: "\f182"; }
.cyb-ls-i-132-camcorder:before { content: "\f183"; }
.cyb-ls-i-133-calendar:before { content: "\f184"; }
.cyb-ls-i-134-cable:before { content: "\f185"; }
.cyb-ls-i-135-building-1:before { content: "\f186"; }
.cyb-ls-i-136-building:before { content: "\f187"; }
.cyb-ls-i-137-browser-1:before { content: "\f188"; }
.cyb-ls-i-138-browser:before { content: "\f189"; }
.cyb-ls-i-139-link:before { content: "\f18a"; }
.cyb-ls-i-140-briefcase:before { content: "\f18b"; }
.cyb-ls-i-141-bluetooth:before { content: "\f18c"; }
.cyb-ls-i-142-antenna-1:before { content: "\f18d"; }
.cyb-ls-i-143-antenna:before { content: "\f18e"; }