<div
  class="gene-card-title"
  fxLayout="column"
  style="height: 100%"
  fxLayoutAlign="space-between"
>
  <div
    style="padding-left: 28px"
    fxLayout="row"
    fxFlex="20"
    fxLayoutAlign="center end"
  >
    <mat-icon
      style="font-size: 1rem"
      fxFlex="10"
      class="cyb-s-ft-007-renewable-energy"
    ></mat-icon>

    <h6 class="card-title" fxFlex="20" style="font-size: 25px">
      {{ cardTitle }}
    </h6>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="80">
    <div fxFlex style="height: 100%" #diagramDiv></div>
  </div>
</div>
