@charset "UTF-8";

@font-face {
  font-family: "octicons";
  src: url('octicons.eot?5km1tg');
  src: url('octicons.eot?#iefix5km1tg') format('embedded-opentype'),
  url('octicons.ttf?5km1tg') format('truetype'),
  url('octicons.woff?5km1tg') format('woff'),
  url('octicons.svg?5km1tg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "octicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cyb-oc-"]:before,
[class*=" cyb-oc-"]:before {
  font-family: "octicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cyb-oc-alert:before {
  content: "\f02d";
}

.cyb-oc-alignment-align:before {
  content: "\f08a";
}

.cyb-oc-alignment-aligned-to:before {
  content: "\f08e";
}

.cyb-oc-alignment-unalign:before {
  content: "\f08b";
}

.cyb-oc-arrow-down:before {
  content: "\f03f";
}

.cyb-oc-arrow-left:before {
  content: "\f040";
}

.cyb-oc-arrow-right:before {
  content: "\f03e";
}

.cyb-oc-arrow-small-down:before {
  content: "\f0a0";
}

.cyb-oc-arrow-small-left:before {
  content: "\f0a1";
}

.cyb-oc-arrow-small-right:before {
  content: "\f071";
}

.cyb-oc-arrow-small-up:before {
  content: "\f09f";
}

.cyb-oc-arrow-up:before {
  content: "\f03d";
}

.cyb-oc-beer:before {
  content: "\f069";
}

.cyb-oc-book:before {
  content: "\f007";
}

.cyb-oc-bookmark:before {
  content: "\f07b";
}

.cyb-oc-briefcase:before {
  content: "\f0d3";
}

.cyb-oc-broadcast:before {
  content: "\f048";
}

.cyb-oc-browser:before {
  content: "\f0c5";
}

.cyb-oc-bug:before {
  content: "\f091";
}

.cyb-oc-calendar:before {
  content: "\f068";
}

.cyb-oc-check:before {
  content: "\f03a";
}

.cyb-oc-checklist:before {
  content: "\f076";
}

.cyb-oc-chevron-down:before {
  content: "\f0a3";
}

.cyb-oc-chevron-left:before {
  content: "\f0a4";
}

.cyb-oc-chevron-right:before {
  content: "\f078";
}

.cyb-oc-chevron-up:before {
  content: "\f0a2";
}

.cyb-oc-circle-slash:before {
  content: "\f084";
}

.cyb-oc-circuit-board:before {
  content: "\f0d6";
}

.cyb-oc-clippy:before {
  content: "\f035";
}

.cyb-oc-clock:before {
  content: "\f046";
}

.cyb-oc-cloud-download:before {
  content: "\f00b";
}

.cyb-oc-cloud-upload:before {
  content: "\f00c";
}

.cyb-oc-code:before {
  content: "\f05f";
}

.cyb-oc-color-mode:before {
  content: "\f065";
}

.cyb-oc-comment:before {
  content: "\f02b";
}

.cyb-oc-comment-discussion:before {
  content: "\f04f";
}

.cyb-oc-credit-card:before {
  content: "\f045";
}

.cyb-oc-dash:before {
  content: "\f0ca";
}

.cyb-oc-dashboard:before {
  content: "\f07d";
}

.cyb-oc-database:before {
  content: "\f096";
}

.cyb-oc-device-camera:before {
  content: "\f056";
}

.cyb-oc-device-camera-video:before {
  content: "\f057";
}

.cyb-oc-device-desktop:before {
  content: "\f27c";
}

.cyb-oc-device-mobile:before {
  content: "\f038";
}

.cyb-oc-diff:before {
  content: "\f04d";
}

.cyb-oc-diff-added:before {
  content: "\f06b";
}

.cyb-oc-diff-ignored:before {
  content: "\f099";
}

.cyb-oc-diff-modified:before {
  content: "\f06d";
}

.cyb-oc-diff-removed:before {
  content: "\f06c";
}

.cyb-oc-diff-renamed:before {
  content: "\f06e";
}

.cyb-oc-ellipsis:before {
  content: "\f09a";
}

.cyb-oc-eye:before {
  content: "\f04e";
}

.cyb-oc-file-binary:before {
  content: "\f094";
}

.cyb-oc-file-code:before {
  content: "\f010";
}

.cyb-oc-file-directory:before {
  content: "\f016";
}

.cyb-oc-file-media:before {
  content: "\f012";
}

.cyb-oc-file-pdf:before {
  content: "\f014";
}

.cyb-oc-file-submodule:before {
  content: "\f017";
}

.cyb-oc-file-symlink-directory:before {
  content: "\f0b1";
}

.cyb-oc-file-symlink-file:before {
  content: "\f0b0";
}

.cyb-oc-file-text:before {
  content: "\f011";
}

.cyb-oc-file-zip:before {
  content: "\f013";
}

.cyb-oc-flame:before {
  content: "\f0d2";
}

.cyb-oc-fold:before {
  content: "\f0cc";
}

.cyb-oc-gear:before {
  content: "\f02f";
}

.cyb-oc-gift:before {
  content: "\f042";
}

.cyb-oc-gist:before {
  content: "\f00e";
}

.cyb-oc-gist-secret:before {
  content: "\f08c";
}

.cyb-oc-git-branch:before {
  content: "\f020";
}

.cyb-oc-git-commit:before {
  content: "\f01f";
}

.cyb-oc-git-compare:before {
  content: "\f0ac";
}

.cyb-oc-git-merge:before {
  content: "\f023";
}

.cyb-oc-git-pull-request:before {
  content: "\f009";
}

.cyb-oc-globe:before {
  content: "\f0b6";
}

.cyb-oc-graph:before {
  content: "\f043";
}

.cyb-oc-heart:before {
  content: "\2665";
}

.cyb-oc-history:before {
  content: "\f07e";
}

.cyb-oc-home:before {
  content: "\f08d";
}

.cyb-oc-horizontal-rule:before {
  content: "\f070";
}

.cyb-oc-hourglass:before {
  content: "\f09e";
}

.cyb-oc-hubot:before {
  content: "\f09d";
}

.cyb-oc-inbox:before {
  content: "\f0cf";
}

.cyb-oc-info:before {
  content: "\f059";
}

.cyb-oc-issue-closed:before {
  content: "\f028";
}

.cyb-oc-issue-opened:before {
  content: "\f026";
}

.cyb-oc-issue-reopened:before {
  content: "\f027";
}

.cyb-oc-jersey:before {
  content: "\f019";
}

.cyb-oc-jump-down:before {
  content: "\f072";
}

.cyb-oc-jump-left:before {
  content: "\f0a5";
}

.cyb-oc-jump-right:before {
  content: "\f0a6";
}

.cyb-oc-jump-up:before {
  content: "\f073";
}

.cyb-oc-key:before {
  content: "\f049";
}

.cyb-oc-keyboard:before {
  content: "\f00d";
}

.cyb-oc-law:before {
  content: "\f0d8";
}

.cyb-oc-light-bulb:before {
  content: "\f000";
}

.cyb-oc-link:before {
  content: "\f05c";
}

.cyb-oc-link-external:before {
  content: "\f07f";
}

.cyb-oc-list-ordered:before {
  content: "\f062";
}

.cyb-oc-list-unordered:before {
  content: "\f061";
}

.cyb-oc-location:before {
  content: "\f060";
}

.cyb-oc-lock:before {
  content: "\f06a";
}

.cyb-oc-logo-github:before {
  content: "\f092";
}

.cyb-oc-mail:before {
  content: "\f03b";
}

.cyb-oc-mail-read:before {
  content: "\f03c";
}

.cyb-oc-mail-reply:before {
  content: "\f051";
}

.cyb-oc-mark-github:before {
  content: "\f00a";
}

.cyb-oc-markdown:before {
  content: "\f0c9";
}

.cyb-oc-megaphone:before {
  content: "\f077";
}

.cyb-oc-mention:before {
  content: "\f0be";
}

.cyb-oc-microscope:before {
  content: "\f089";
}

.cyb-oc-milestone:before {
  content: "\f075";
}

.cyb-oc-mirror:before {
  content: "\f024";
}

.cyb-oc-mortar-board:before {
  content: "\f0d7";
}

.cyb-oc-move-down:before {
  content: "\f0a8";
}

.cyb-oc-move-left:before {
  content: "\f074";
}

.cyb-oc-move-right:before {
  content: "\f0a9";
}

.cyb-oc-move-up:before {
  content: "\f0a7";
}

.cyb-oc-mute:before {
  content: "\f080";
}

.cyb-oc-no-newline:before {
  content: "\f09c";
}

.cyb-oc-octoface:before {
  content: "\f008";
}

.cyb-oc-organization:before {
  content: "\f037";
}

.cyb-oc-package:before {
  content: "\f0c4";
}

.cyb-oc-paintcan:before {
  content: "\f0d1";
}

.cyb-oc-pencil:before {
  content: "\f058";
}

.cyb-oc-person:before {
  content: "\f018";
}

.cyb-oc-pin:before {
  content: "\f041";
}

.cyb-oc-playback-fast-forward:before {
  content: "\f0bd";
}

.cyb-oc-playback-pause:before {
  content: "\f0bb";
}

.cyb-oc-playback-play:before {
  content: "\f0bf";
}

.cyb-oc-playback-rewind:before {
  content: "\f0bc";
}

.cyb-oc-plug:before {
  content: "\f0d4";
}

.cyb-oc-plus:before {
  content: "\f05d";
}

.cyb-oc-podium:before {
  content: "\f0af";
}

.cyb-oc-primitive-dot:before {
  content: "\f052";
}

.cyb-oc-primitive-square:before {
  content: "\f053";
}

.cyb-oc-pulse:before {
  content: "\f085";
}

.cyb-oc-puzzle:before {
  content: "\f0c0";
}

.cyb-oc-question:before {
  content: "\f02c";
}

.cyb-oc-quote:before {
  content: "\f063";
}

.cyb-oc-radio-tower:before {
  content: "\f030";
}

.cyb-oc-repo:before {
  content: "\f001";
}

.cyb-oc-repo-clone:before {
  content: "\f04c";
}

.cyb-oc-repo-force-push:before {
  content: "\f04a";
}

.cyb-oc-repo-forked:before {
  content: "\f002";
}

.cyb-oc-repo-pull:before {
  content: "\f006";
}

.cyb-oc-repo-push:before {
  content: "\f005";
}

.cyb-oc-rocket:before {
  content: "\f033";
}

.cyb-oc-rss:before {
  content: "\f034";
}

.cyb-oc-ruby:before {
  content: "\f047";
}

.cyb-oc-screen-full:before {
  content: "\f066";
}

.cyb-oc-screen-normal:before {
  content: "\f067";
}

.cyb-oc-search:before {
  content: "\f02e";
}

.cyb-oc-server:before {
  content: "\f097";
}

.cyb-oc-settings:before {
  content: "\f07c";
}

.cyb-oc-sign-in:before {
  content: "\f036";
}

.cyb-oc-sign-out:before {
  content: "\f032";
}

.cyb-oc-split:before {
  content: "\f0c6";
}

.cyb-oc-squirrel:before {
  content: "\f0b2";
}

.cyb-oc-star:before {
  content: "\f02a";
}

.cyb-oc-steps:before {
  content: "\f0c7";
}

.cyb-oc-stop:before {
  content: "\f08f";
}

.cyb-oc-sync:before {
  content: "\f087";
}

.cyb-oc-tag:before {
  content: "\f015";
}

.cyb-oc-telescope:before {
  content: "\f088";
}

.cyb-oc-terminal:before {
  content: "\f0c8";
}

.cyb-oc-three-bars:before {
  content: "\f05e";
}

.cyb-oc-tools:before {
  content: "\f031";
}

.cyb-oc-trashcan:before {
  content: "\f0d0";
}

.cyb-oc-triangle-down:before {
  content: "\f05b";
}

.cyb-oc-triangle-left:before {
  content: "\f044";
}

.cyb-oc-triangle-right:before {
  content: "\f05a";
}

.cyb-oc-triangle-up:before {
  content: "\f0aa";
}

.cyb-oc-unfold:before {
  content: "\f039";
}

.cyb-oc-unmute:before {
  content: "\f0ba";
}

.cyb-oc-versions:before {
  content: "\f064";
}

.cyb-oc-x:before {
  content: "\f081";
}

.cyb-oc-zap:before {
  content: "\26a1";
}