@charset "UTF-8";

@font-face {
  font-family: "wpzoom";
  src: url('wpzoom.eot?5km1tg');
  src: url('wpzoom.eot?#iefix5km1tg') format('embedded-opentype'),
  url('wpzoom.ttf?5km1tg') format('truetype'),
  url('wpzoom.woff?5km1tg') format('woff'),
  url('wpzoom.svg?5km1tg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "wpzoom" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cyb-wz-"]:before,
[class*=" cyb-wz-"]:before {
  font-family: "wpzoom" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cyb-wz-facebook:before {
  content: "\e900";
}

.cyb-wz-twitter-old:before {
  content: "\e901";
}

.cyb-wz-share:before {
  content: "\e902";
}

.cyb-wz-feed:before {
  content: "\e903";
}

.cyb-wz-bird:before {
  content: "\e904";
}

.cyb-wz-chat:before {
  content: "\e905";
}

.cyb-wz-envelope:before {
  content: "\e906";
}

.cyb-wz-envelope2:before {
  content: "\e907";
}

.cyb-wz-phone:before {
  content: "\e908";
}

.cyb-wz-phone2:before {
  content: "\e909";
}

.cyb-wz-phone3:before {
  content: "\e90a";
}

.cyb-wz-mobile:before {
  content: "\e90b";
}

.cyb-wz-ipod:before {
  content: "\e90c";
}

.cyb-wz-monitor:before {
  content: "\e90d";
}

.cyb-wz-laptop:before {
  content: "\e90e";
}

.cyb-wz-modem:before {
  content: "\e90f";
}

.cyb-wz-speaker:before {
  content: "\e910";
}

.cyb-wz-window:before {
  content: "\e911";
}

.cyb-wz-server:before {
  content: "\e912";
}

.cyb-wz-hdd:before {
  content: "\e913";
}

.cyb-wz-keyboard:before {
  content: "\e914";
}

.cyb-wz-mouse:before {
  content: "\e915";
}

.cyb-wz-cd:before {
  content: "\e916";
}

.cyb-wz-floppy:before {
  content: "\e917";
}

.cyb-wz-hardware:before {
  content: "\e918";
}

.cyb-wz-usb:before {
  content: "\e919";
}

.cyb-wz-cord:before {
  content: "\e91a";
}

.cyb-wz-socket:before {
  content: "\e91b";
}

.cyb-wz-socket2:before {
  content: "\e91c";
}

.cyb-wz-socket3:before {
  content: "\e91d";
}

.cyb-wz-printer:before {
  content: "\e91e";
}

.cyb-wz-camera:before {
  content: "\e91f";
}

.cyb-wz-pictures:before {
  content: "\e920";
}

.cyb-wz-eye:before {
  content: "\e921";
}

.cyb-wz-uniE922:before {
  content: "\e922";
}

.cyb-wz-film:before {
  content: "\e923";
}

.cyb-wz-camera2:before {
  content: "\e924";
}

.cyb-wz-movie:before {
  content: "\e925";
}

.cyb-wz-tv:before {
  content: "\e926";
}

.cyb-wz-camera3:before {
  content: "\e927";
}

.cyb-wz-camera4:before {
  content: "\e928";
}

.cyb-wz-volume:before {
  content: "\e929";
}

.cyb-wz-music:before {
  content: "\e92a";
}

.cyb-wz-microphone:before {
  content: "\e92b";
}

.cyb-wz-radio:before {
  content: "\e92c";
}

.cyb-wz-ipod2:before {
  content: "\e92d";
}

.cyb-wz-headphone:before {
  content: "\e92e";
}

.cyb-wz-cassette:before {
  content: "\e92f";
}

.cyb-wz-broadcast:before {
  content: "\e930";
}

.cyb-wz-broadcast2:before {
  content: "\e931";
}

.cyb-wz-calculator:before {
  content: "\e932";
}

.cyb-wz-gamepad:before {
  content: "\e933";
}

.cyb-wz-gamepad2:before {
  content: "\e934";
}

.cyb-wz-cog:before {
  content: "\e935";
}

.cyb-wz-shield:before {
  content: "\e936";
}

.cyb-wz-skull:before {
  content: "\e937";
}

.cyb-wz-bug:before {
  content: "\e938";
}

.cyb-wz-mine:before {
  content: "\e939";
}

.cyb-wz-earth:before {
  content: "\e93a";
}

.cyb-wz-globe:before {
  content: "\e93b";
}

.cyb-wz-planet:before {
  content: "\e93c";
}

.cyb-wz-battery:before {
  content: "\e93d";
}

.cyb-wz-battery-low:before {
  content: "\e93e";
}

.cyb-wz-battery2:before {
  content: "\e93f";
}

.cyb-wz-battery-full:before {
  content: "\e940";
}

.cyb-wz-folder:before {
  content: "\e941";
}

.cyb-wz-search:before {
  content: "\e942";
}

.cyb-wz-zoomout:before {
  content: "\e943";
}

.cyb-wz-zoomin:before {
  content: "\e944";
}

.cyb-wz-binocular:before {
  content: "\e945";
}

.cyb-wz-location:before {
  content: "\e946";
}

.cyb-wz-pin:before {
  content: "\e947";
}

.cyb-wz-file:before {
  content: "\e948";
}

.cyb-wz-tag:before {
  content: "\e949";
}

.cyb-wz-quote:before {
  content: "\e94a";
}

.cyb-wz-attachment:before {
  content: "\e94b";
}

.cyb-wz-bookmark:before {
  content: "\e94c";
}

.cyb-wz-bookmark2:before {
  content: "\e94d";
}

.cyb-wz-newspaper:before {
  content: "\e94e";
}

.cyb-wz-notebook:before {
  content: "\e94f";
}

.cyb-wz-addressbook:before {
  content: "\e950";
}

.cyb-wz-clipboard:before {
  content: "\e951";
}

.cyb-wz-clipboard2:before {
  content: "\e952";
}

.cyb-wz-board:before {
  content: "\e953";
}

.cyb-wz-pencil:before {
  content: "\e954";
}

.cyb-wz-pen:before {
  content: "\e955";
}

.cyb-wz-user:before {
  content: "\e956";
}

.cyb-wz-user2:before {
  content: "\e957";
}

.cyb-wz-user3:before {
  content: "\e958";
}

.cyb-wz-trashcan:before {
  content: "\e959";
}

.cyb-wz-cart:before {
  content: "\e95a";
}

.cyb-wz-bag:before {
  content: "\e95b";
}

.cyb-wz-suitcase:before {
  content: "\e95c";
}

.cyb-wz-card:before {
  content: "\e95d";
}

.cyb-wz-book:before {
  content: "\e95e";
}

.cyb-wz-gift:before {
  content: "\e95f";
}

.cyb-wz-lamp:before {
  content: "\e960";
}

.cyb-wz-settings:before {
  content: "\e961";
}

.cyb-wz-support:before {
  content: "\e962";
}

.cyb-wz-medicine:before {
  content: "\e963";
}

.cyb-wz-cone:before {
  content: "\e964";
}

.cyb-wz-locked:before {
  content: "\e965";
}

.cyb-wz-unlocked:before {
  content: "\e966";
}

.cyb-wz-key:before {
  content: "\e967";
}

.cyb-wz-info:before {
  content: "\e968";
}

.cyb-wz-clock:before {
  content: "\e969";
}

.cyb-wz-timer:before {
  content: "\e96a";
}

.cyb-wz-food:before {
  content: "\e96b";
}

.cyb-wz-drink:before {
  content: "\e96c";
}

.cyb-wz-mug:before {
  content: "\e96d";
}

.cyb-wz-cup:before {
  content: "\e96e";
}

.cyb-wz-drink2:before {
  content: "\e96f";
}

.cyb-wz-mug2:before {
  content: "\e970";
}

.cyb-wz-lollipop:before {
  content: "\e971";
}

.cyb-wz-lab:before {
  content: "\e972";
}

.cyb-wz-puzzle:before {
  content: "\e973";
}

.cyb-wz-flag:before {
  content: "\e974";
}

.cyb-wz-star:before {
  content: "\e975";
}

.cyb-wz-heart:before {
  content: "\e976";
}

.cyb-wz-badge:before {
  content: "\e977";
}

.cyb-wz-cup2:before {
  content: "\e978";
}

.cyb-wz-scissors:before {
  content: "\e979";
}

.cyb-wz-snowflake:before {
  content: "\e97a";
}

.cyb-wz-cloud:before {
  content: "\e97b";
}

.cyb-wz-lightning:before {
  content: "\e97c";
}

.cyb-wz-night:before {
  content: "\e97d";
}

.cyb-wz-sunny:before {
  content: "\e97e";
}

.cyb-wz-droplet:before {
  content: "\e97f";
}

.cyb-wz-umbrella:before {
  content: "\e980";
}

.cyb-wz-truck:before {
  content: "\e981";
}

.cyb-wz-car:before {
  content: "\e982";
}

.cyb-wz-gaspump:before {
  content: "\e983";
}

.cyb-wz-factory:before {
  content: "\e984";
}

.cyb-wz-tree:before {
  content: "\e985";
}

.cyb-wz-leaf:before {
  content: "\e986";
}

.cyb-wz-flower:before {
  content: "\e987";
}

.cyb-wz-direction:before {
  content: "\e988";
}

.cyb-wz-thumbsup:before {
  content: "\e989";
}

.cyb-wz-thumbsdown:before {
  content: "\e98a";
}

.cyb-wz-pointer:before {
  content: "\e98b";
}

.cyb-wz-pointer2:before {
  content: "\e98c";
}

.cyb-wz-pointer3:before {
  content: "\e98d";
}

.cyb-wz-pointer4:before {
  content: "\e98e";
}

.cyb-wz-arrow-up:before {
  content: "\e98f";
}

.cyb-wz-arrow-down:before {
  content: "\e990";
}

.cyb-wz-arrow-left:before {
  content: "\e991";
}

.cyb-wz-arrow-right:before {
  content: "\e992";
}

.cyb-wz-arrow-top-right:before {
  content: "\e993";
}

.cyb-wz-arrow-top-left:before {
  content: "\e994";
}

.cyb-wz-arrow-bottom-right:before {
  content: "\e995";
}

.cyb-wz-arrow-bottom-left:before {
  content: "\e996";
}

.cyb-wz-contract:before {
  content: "\e997";
}

.cyb-wz-enlarge:before {
  content: "\e998";
}

.cyb-wz-refresh:before {
  content: "\e999";
}