@charset "UTF-8";

@font-face {
  font-family: "a-data-and-graphs";
  src: url("./a-data-and-graphs.eot");
  src: url("./a-data-and-graphs.eot?#iefix") format("embedded-opentype"),
       url("./a-data-and-graphs.woff") format("woff"),
       url("./a-data-and-graphs.ttf") format("truetype"),
       url("./a-data-and-graphs.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="cyb-g-adag-"]:before, [class*=" cyb-g-adag-"]:before,
[class^="cyb-g-adag-"]:after, [class*=" cyb-g-adag-"]:after {   
font-family: "a-data-and-graphs" !important;
font-size: 20px;
font-style: normal !important;
font-weight: normal !important;
font-variant: normal !important;
text-transform: none !important;
text-align: center;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.cyb-g-adag-001-analytics-59:before { content: "\f100"; }
.cyb-g-adag-002-analytics-58:before { content: "\f101"; }
.cyb-g-adag-003-analytics-57:before { content: "\f102"; }
.cyb-g-adag-004-analytics-56:before { content: "\f103"; }
.cyb-g-adag-005-analytics-55:before { content: "\f104"; }
.cyb-g-adag-006-analytics-54:before { content: "\f105"; }
.cyb-g-adag-007-analytics-53:before { content: "\f106"; }
.cyb-g-adag-008-analytics-52:before { content: "\f107"; }
.cyb-g-adag-009-analytics-51:before { content: "\f108"; }
.cyb-g-adag-010-analytics-50:before { content: "\f109"; }
.cyb-g-adag-011-analytics-49:before { content: "\f10a"; }
.cyb-g-adag-012-analytics-48:before { content: "\f10b"; }
.cyb-g-adag-013-analytics-47:before { content: "\f10c"; }
.cyb-g-adag-014-analytics-46:before { content: "\f10d"; }
.cyb-g-adag-015-analytics-45:before { content: "\f10e"; }
.cyb-g-adag-016-analytics-44:before { content: "\f10f"; }
.cyb-g-adag-017-analytics-43:before { content: "\f110"; }
.cyb-g-adag-018-analytics-42:before { content: "\f111"; }
.cyb-g-adag-019-analytics-41:before { content: "\f112"; }
.cyb-g-adag-020-analytics-40:before { content: "\f113"; }
.cyb-g-adag-021-analytics-39:before { content: "\f114"; }
.cyb-g-adag-022-analytics-38:before { content: "\f115"; }
.cyb-g-adag-023-analytics-37:before { content: "\f116"; }
.cyb-g-adag-024-analytics-36:before { content: "\f117"; }
.cyb-g-adag-025-analytics-35:before { content: "\f118"; }
.cyb-g-adag-026-analytics-34:before { content: "\f119"; }
.cyb-g-adag-027-analytics-33:before { content: "\f11a"; }
.cyb-g-adag-028-analytics-32:before { content: "\f11b"; }
.cyb-g-adag-029-analytics-31:before { content: "\f11c"; }
.cyb-g-adag-030-analytics-30:before { content: "\f11d"; }
.cyb-g-adag-031-analytics-29:before { content: "\f11e"; }
.cyb-g-adag-032-analytics-28:before { content: "\f11f"; }
.cyb-g-adag-033-analytics-27:before { content: "\f120"; }
.cyb-g-adag-034-analytics-26:before { content: "\f121"; }
.cyb-g-adag-035-analytics-25:before { content: "\f122"; }
.cyb-g-adag-036-analytics-24:before { content: "\f123"; }
.cyb-g-adag-037-analytics-23:before { content: "\f124"; }
.cyb-g-adag-038-analytics-22:before { content: "\f125"; }
.cyb-g-adag-039-analytics-21:before { content: "\f126"; }
.cyb-g-adag-040-analytics-20:before { content: "\f127"; }
.cyb-g-adag-041-analytics-19:before { content: "\f128"; }
.cyb-g-adag-042-analytics-18:before { content: "\f129"; }
.cyb-g-adag-043-analytics-17:before { content: "\f12a"; }
.cyb-g-adag-044-analytics-16:before { content: "\f12b"; }
.cyb-g-adag-045-analytics-15:before { content: "\f12c"; }
.cyb-g-adag-046-analytics-14:before { content: "\f12d"; }
.cyb-g-adag-047-analytics-13:before { content: "\f12e"; }
.cyb-g-adag-048-analytics-12:before { content: "\f12f"; }
.cyb-g-adag-049-analytics-11:before { content: "\f130"; }
.cyb-g-adag-050-analytics-10:before { content: "\f131"; }
.cyb-g-adag-051-analytics-9:before { content: "\f132"; }
.cyb-g-adag-052-analytics-8:before { content: "\f133"; }
.cyb-g-adag-053-analytics-7:before { content: "\f134"; }
.cyb-g-adag-054-analytics-6:before { content: "\f135"; }
.cyb-g-adag-055-analytics-5:before { content: "\f136"; }
.cyb-g-adag-056-analytics-4:before { content: "\f137"; }
.cyb-g-adag-057-analytics-3:before { content: "\f138"; }
.cyb-g-adag-058-analytics-2:before { content: "\f139"; }
.cyb-g-adag-059-analytics-1:before { content: "\f13a"; }
.cyb-g-adag-060-analytics:before { content: "\f13b"; }