@charset "UTF-8";

@font-face {
  font-family: "iconic";
  src: url('iconic.eot?5km1tg');
  src: url('iconic.eot?#iefix5km1tg') format('embedded-opentype'),
  url('iconic.ttf?5km1tg') format('truetype'),
  url('iconic.woff?5km1tg') format('woff'),
  url('iconic.svg?5km1tg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "iconic" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cyb-ic-"]:before,
[class*=" cyb-ic-"]:before {
  font-family: "iconic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cyb-ic-chat:before {
  content: "\e900";
}

.cyb-ic-chat-alt-stroke:before {
  content: "\e901";
}

.cyb-ic-chat-alt-fill:before {
  content: "\e902";
}

.cyb-ic-comment-alt1-stroke:before {
  content: "\e903";
}

.cyb-ic-comment:before {
  content: "\e904";
}

.cyb-ic-comment-stroke:before {
  content: "\e905";
}

.cyb-ic-comment-fill:before {
  content: "\e906";
}

.cyb-ic-comment-alt2-stroke:before {
  content: "\e907";
}

.cyb-ic-comment-alt2-fill:before {
  content: "\e908";
}

.cyb-ic-checkmark:before {
  content: "\e909";
}

.cyb-ic-check-alt:before {
  content: "\e90a";
}

.cyb-ic-x:before {
  content: "\e90b";
}

.cyb-ic-x-altx-alt:before {
  content: "\e90c";
}

.cyb-ic-denied:before {
  content: "\e90d";
}

.cyb-ic-cursor:before {
  content: "\e90e";
}

.cyb-ic-rss:before {
  content: "\e90f";
}

.cyb-ic-rss-alt:before {
  content: "\e910";
}

.cyb-ic-wrench:before {
  content: "\e911";
}

.cyb-ic-dial:before {
  content: "\e912";
}

.cyb-ic-cog:before {
  content: "\e913";
}

.cyb-ic-calendar:before {
  content: "\e914";
}

.cyb-ic-calendar-alt-stroke:before {
  content: "\e915";
}

.cyb-ic-calendar-alt-fill:before {
  content: "\e916";
}

.cyb-ic-share:before {
  content: "\e917";
}

.cyb-ic-mail:before {
  content: "\e918";
}

.cyb-ic-heart-stroke:before {
  content: "\e919";
}

.cyb-ic-heart-fill:before {
  content: "\e91a";
}

.cyb-ic-movie:before {
  content: "\e91b";
}

.cyb-ic-document-alt-stroke:before {
  content: "\e91c";
}

.cyb-ic-document-alt-fill:before {
  content: "\e91d";
}

.cyb-ic-document-stroke:before {
  content: "\e91e";
}

.cyb-ic-document-fill:before {
  content: "\e91f";
}

.cyb-ic-plus:before {
  content: "\e920";
}

.cyb-ic-plus-alt:before {
  content: "\e921";
}

.cyb-ic-minus:before {
  content: "\e922";
}

.cyb-ic-minus-alt:before {
  content: "\e923";
}

.cyb-ic-pin:before {
  content: "\e924";
}

.cyb-ic-link:before {
  content: "\e925";
}

.cyb-ic-bolt:before {
  content: "\e926";
}

.cyb-ic-move:before {
  content: "\e927";
}

.cyb-ic-move-alt1:before {
  content: "\e928";
}

.cyb-ic-move-alt2:before {
  content: "\e929";
}

.cyb-ic-equalizer:before {
  content: "\e92a";
}

.cyb-ic-award-fill:before {
  content: "\e92b";
}

.cyb-ic-award-stroke:before {
  content: "\e92c";
}

.cyb-ic-magnifying-glass:before {
  content: "\e92d";
}

.cyb-ic-trash-stroke:before {
  content: "\e92e";
}

.cyb-ic-trash-fill:before {
  content: "\e92f";
}

.cyb-ic-beaker-alt:before {
  content: "\e930";
}

.cyb-ic-beaker:before {
  content: "\e931";
}

.cyb-ic-key-stroke:before {
  content: "\e932";
}

.cyb-ic-key-fill:before {
  content: "\e933";
}

.cyb-ic-new-window:before {
  content: "\e934";
}

.cyb-ic-lightbulb:before {
  content: "\e935";
}

.cyb-ic-spin-alt:before {
  content: "\e936";
}

.cyb-ic-spin:before {
  content: "\e937";
}

.cyb-ic-curved-arrow:before {
  content: "\e938";
}

.cyb-ic-undo:before {
  content: "\e939";
}

.cyb-ic-reload:before {
  content: "\e93a";
}

.cyb-ic-reload-alt:before {
  content: "\e93b";
}

.cyb-ic-loop:before {
  content: "\e93c";
}

.cyb-ic-loop-alt1:before {
  content: "\e93d";
}

.cyb-ic-loop-alt2:before {
  content: "\e93e";
}

.cyb-ic-loop-alt3:before {
  content: "\e93f";
}

.cyb-ic-loop-alt4:before {
  content: "\e940";
}

.cyb-ic-transfer:before {
  content: "\e941";
}

.cyb-ic-move-vertical:before {
  content: "\e942";
}

.cyb-ic-move-vertical-alt1:before {
  content: "\e943";
}

.cyb-ic-move-vertical-alt2:before {
  content: "\e944";
}

.cyb-ic-move-horizontal:before {
  content: "\e945";
}

.cyb-ic-move-horizontal-alt1:before {
  content: "\e946";
}

.cyb-ic-move-horizontal-alt2:before {
  content: "\e947";
}

.cyb-ic-arrow-left:before {
  content: "\e948";
}

.cyb-ic-arrow-left-alt1:before {
  content: "\e949";
}

.cyb-ic-arrow-left-alt2:before {
  content: "\e94a";
}

.cyb-ic-arrow-right:before {
  content: "\e94b";
}

.cyb-ic-arrow-right-alt1:before {
  content: "\e94c";
}

.cyb-ic-arrow-right-alt2:before {
  content: "\e94d";
}

.cyb-ic-arrow-up:before {
  content: "\e94e";
}

.cyb-ic-arrow-up-alt1:before {
  content: "\e94f";
}

.cyb-ic-arrow-up-alt2:before {
  content: "\e950";
}

.cyb-ic-arrow-down:before {
  content: "\e951";
}

.cyb-ic-arrow-down-alt1:before {
  content: "\e952";
}

.cyb-ic-arrow-down-alt2:before {
  content: "\e953";
}

.cyb-ic-cd:before {
  content: "\e954";
}

.cyb-ic-steering-wheel:before {
  content: "\e955";
}

.cyb-ic-microphone:before {
  content: "\e956";
}

.cyb-ic-headphones:before {
  content: "\e957";
}

.cyb-ic-volume:before {
  content: "\e958";
}

.cyb-ic-volume-mute:before {
  content: "\e959";
}

.cyb-ic-play:before {
  content: "\e95a";
}

.cyb-ic-pause:before {
  content: "\e95b";
}

.cyb-ic-stop:before {
  content: "\e95c";
}

.cyb-ic-eject:before {
  content: "\e95d";
}

.cyb-ic-first:before {
  content: "\e95e";
}

.cyb-ic-last:before {
  content: "\e95f";
}

.cyb-ic-play-alt:before {
  content: "\e960";
}

.cyb-ic-fullscreen-exit:before {
  content: "\e961";
}

.cyb-ic-fullscreen-exit-alt:before {
  content: "\e962";
}

.cyb-ic-fullscreen:before {
  content: "\e963";
}

.cyb-ic-fullscreen-alt:before {
  content: "\e964";
}

.cyb-ic-iphone:before {
  content: "\e965";
}

.cyb-ic-battery-empty:before {
  content: "\e966";
}

.cyb-ic-battery-half:before {
  content: "\e967";
}

.cyb-ic-battery-full:before {
  content: "\e968";
}

.cyb-ic-battery-charging:before {
  content: "\e969";
}

.cyb-ic-compass:before {
  content: "\e96a";
}

.cyb-ic-box:before {
  content: "\e96b";
}

.cyb-ic-folder-stroke:before {
  content: "\e96c";
}

.cyb-ic-folder-fill:before {
  content: "\e96d";
}

.cyb-ic-at:before {
  content: "\e96e";
}

.cyb-ic-ampersand:before {
  content: "\e96f";
}

.cyb-ic-info:before {
  content: "\e970";
}

.cyb-ic-question-mark:before {
  content: "\e971";
}

.cyb-ic-pilcrow:before {
  content: "\e972";
}

.cyb-ic-hash:before {
  content: "\e973";
}

.cyb-ic-left-quote:before {
  content: "\e974";
}

.cyb-ic-right-quote:before {
  content: "\e975";
}

.cyb-ic-left-quote-alt:before {
  content: "\e976";
}

.cyb-ic-right-quote-alt:before {
  content: "\e977";
}

.cyb-ic-article:before {
  content: "\e978";
}

.cyb-ic-read-more:before {
  content: "\e979";
}

.cyb-ic-list:before {
  content: "\e97a";
}

.cyb-ic-list-nested:before {
  content: "\e97b";
}

.cyb-ic-book:before {
  content: "\e97c";
}

.cyb-ic-book-alt:before {
  content: "\e97d";
}

.cyb-ic-book-alt2:before {
  content: "\e97e";
}

.cyb-ic-pen:before {
  content: "\e97f";
}

.cyb-ic-pen-alt-stroke:before {
  content: "\e980";
}

.cyb-ic-pen-alt-fill:before {
  content: "\e981";
}

.cyb-ic-pen-alt2:before {
  content: "\e982";
}

.cyb-ic-brush:before {
  content: "\e983";
}

.cyb-ic-brush-alt:before {
  content: "\e984";
}

.cyb-ic-eyedropper:before {
  content: "\e985";
}

.cyb-ic-layers-alt:before {
  content: "\e986";
}

.cyb-ic-layers:before {
  content: "\e987";
}

.cyb-ic-image:before {
  content: "\e988";
}

.cyb-ic-camera:before {
  content: "\e989";
}

.cyb-ic-aperture:before {
  content: "\e98a";
}

.cyb-ic-aperture-alt:before {
  content: "\e98b";
}

.cyb-ic-chart:before {
  content: "\e98c";
}

.cyb-ic-chart-alt:before {
  content: "\e98d";
}

.cyb-ic-bars:before {
  content: "\e98e";
}

.cyb-ic-bars-alt:before {
  content: "\e98f";
}

.cyb-ic-eye:before {
  content: "\e990";
}

.cyb-ic-user:before {
  content: "\e991";
}

.cyb-ic-home:before {
  content: "\e992";
}

.cyb-ic-clock:before {
  content: "\e993";
}

.cyb-ic-lock-stroke:before {
  content: "\e994";
}

.cyb-ic-lock-fill:before {
  content: "\e995";
}

.cyb-ic-unlock-stroke:before {
  content: "\e996";
}

.cyb-ic-unlock-fill:before {
  content: "\e997";
}

.cyb-ic-tag-stroke:before {
  content: "\e998";
}

.cyb-ic-tag-fill:before {
  content: "\e999";
}

.cyb-ic-sun-stroke:before {
  content: "\e99a";
}

.cyb-ic-sun-fill:before {
  content: "\e99b";
}

.cyb-ic-moon-stroke:before {
  content: "\e99c";
}

.cyb-ic-moon-fill:before {
  content: "\e99d";
}

.cyb-ic-cloud:before {
  content: "\e99e";
}

.cyb-ic-rain:before {
  content: "\e99f";
}

.cyb-ic-umbrella:before {
  content: "\e9a0";
}

.cyb-ic-star:before {
  content: "\e9a1";
}

.cyb-ic-map-pin-stroke:before {
  content: "\e9a2";
}

.cyb-ic-map-pin-fill:before {
  content: "\e9a3";
}

.cyb-ic-map-pin-alt:before {
  content: "\e9a4";
}

.cyb-ic-target:before {
  content: "\e9a5";
}

.cyb-ic-download:before {
  content: "\e9a6";
}

.cyb-ic-upload:before {
  content: "\e9a7";
}

.cyb-ic-cloud-download:before {
  content: "\e9a8";
}

.cyb-ic-cloud-upload:before {
  content: "\e9a9";
}

.cyb-ic-fork:before {
  content: "\e9aa";
}

.cyb-ic-paperclip:before {
  content: "\e9ab";
}