<div *ngIf="_showSpinner" style="height: 100px">
  <mat-progress-bar
    mode="indeterminate"
    class="progress-bar"
  ></mat-progress-bar>
</div>

<div *ngIf="!_showSpinner" fxFlex fxLayout="column">
  <div *ngIf="!tempNotShowDashboard" fxFlex fxLayout="column">
    <div class="segment-initial-state first-segment" fxLayout="row wrap">
      <div fxFlex="100" fxFlex.md="100" fxFlex.gt-md="33.3" fxLayout="column">
        <div fxFlex="60">
          <mat-card fxLayout="row" fxFlex>
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3">
              <div
                fxFlex="10"
                fxLayout="row"
                style="margin-left: auto; margin-right: auto; width: 50%"
                fxLayoutAlign="start end"
              >
                <mat-icon
                  style="font-size: 1rem"
                  class="cyb-mi-device_hub"
                ></mat-icon>

                <h6 class="card-title" style="padding-left: 5px">Nodes</h6>
              </div>

              <div fxFlex="90" fxLayout="row" fxLayoutAlign="center center">
                <pie-chart
                  *ngIf="nodesDonutChartData$ | async as nodesDonutChartData"
                  [cardTitle]="'Nodes'"
                  [data]="nodesDonutChartData"
                >
                </pie-chart>

                <div
                  class="card-title"
                  [fxHide.xs]="false"
                  [fxHide.sm]="true"
                  [fxHide.md]="true"
                  [fxHide.lg]="false"
                  [fxHide.xl]="true"
                  style="
                    font-size: 1.6rem;
                    padding-top: 8px;
                    position: absolute;
                  "
                >
                  31K
                </div>

                <div
                  class="card-title"
                  [fxHide.xs]="true"
                  [fxHide.sm]="false"
                  [fxHide.md]="false"
                  [fxHide.lg]="true"
                  [fxHide.xl]="false"
                  style="font-size: 1.85rem; padding-top: 8px"
                >
                  <span class="large-text">31K</span>
                </div>
              </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3">
              <div
                fxFlex="10"
                fxLayout="row"
                style="margin-left: auto; margin-right: auto; width: 50%"
                fxLayoutAlign="start end"
              >
                <mat-icon
                  style="font-size: 1rem"
                  class="icon-domain"
                ></mat-icon>

                <h6 class="card-title" style="padding-left: 5px">
                  Beneficiaries
                </h6>
              </div>

              <div fxFlex="90" fxLayout="row" fxLayoutAlign="center center">
                <pie-chart
                  *ngIf="
                    beneficiariesDonutChartData$ | async as beneficiariesData
                  "
                  [cardTitle]="'Beneficiaries'"
                  [data]="beneficiariesData"
                >
                </pie-chart>

                <div
                  class="card-title"
                  [fxHide.xs]="false"
                  [fxHide.sm]="true"
                  [fxHide.md]="true"
                  [fxHide.lg]="false"
                  [fxHide.xl]="true"
                  style="
                    font-size: 1.6rem;
                    padding-top: 8px;
                    position: absolute;
                  "
                >
                  45K
                </div>

                <div
                  class="card-title"
                  [fxHide.xs]="true"
                  [fxHide.sm]="false"
                  [fxHide.md]="false"
                  [fxHide.lg]="true"
                  [fxHide.xl]="false"
                  style="font-size: 1.85rem; padding-top: 8px"
                >
                  <span class="large-text">45K</span>
                </div>
              </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3">
              <div
                fxFlex="10"
                fxLayout="row"
                style="margin-left: auto; margin-right: auto; width: 50%"
                fxLayoutAlign="start end"
              >
                <mat-icon
                  style="font-size: 1rem"
                  class="icon-account"
                ></mat-icon>

                <h6 class="card-title" style="padding-left: 5px">Users</h6>
              </div>

              <div fxFlex="90" fxLayout="row" fxLayoutAlign="center center">
                <pie-chart
                  *ngIf="usersDonutChartData$ | async as usersData"
                  [cardTitle]="'Users'"
                  [data]="usersData"
                >
                </pie-chart>

                <div
                  class="card-title"
                  [fxHide.xs]="false"
                  [fxHide.sm]="true"
                  [fxHide.md]="true"
                  [fxHide.lg]="false"
                  [fxHide.xl]="true"
                  style="
                    font-size: 1.6rem;
                    padding-top: 8px;
                    position: absolute;
                  "
                >
                  61K
                </div>

                <div
                  class="card-title"
                  [fxHide.xs]="true"
                  [fxHide.sm]="false"
                  [fxHide.md]="false"
                  [fxHide.lg]="true"
                  [fxHide.xl]="false"
                  style="font-size: 1.85rem; padding-top: 8px"
                >
                  <span class="large-text">61K</span>
                </div>
              </div>
            </div>
          </mat-card>
        </div>

        <div fxFlex="40">
          <mat-card
            fxFlex="33.3"
            fxLayout="column"
            style="background-color: #048ed0ad; padding: 0"
          >
            <div
              fxLayout="row"
              style="padding-left: 12px; padding-top: 12px"
              fxFlex="55"
            >
              <div fxLayout="column">
                <mat-icon
                  fxFlex="25"
                  class="cyb-mi-link fa-rotate-90"
                  style="margin-top: 6px; font-size: 1.2rem"
                >
                </mat-icon>
              </div>

              <div class="card-title" fxLayout="column">
                <div class="small-text">1,975,224</div>

                <div class="small-text" fxFlex="20">Interfaces</div>
              </div>
            </div>

            <sparkline-chart
              *ngIf="interfacesSparkLineData$ | async as spark1"
              [identifier]="'interfaces'"
              [data]="spark1"
              fxFlex="45"
            >
            </sparkline-chart>
          </mat-card>

          <mat-card
            fxFlex="33.3"
            fxLayout="column"
            style="background-color: #048ed0ad; padding: 0"
          >
            <div
              fxLayout="row"
              style="padding-left: 12px; padding-top: 12px"
              fxFlex="55"
            >
              <div fxLayout="column">
                <mat-icon
                  fxFlex="25"
                  class="cyb-fa-wechat"
                  style="font-size: 1.2rem"
                ></mat-icon>
              </div>

              <div
                class="card-title"
                style="margin-left: 8px"
                fxLayout="column"
              >
                <div class="small-text">1,975,224</div>

                <div class="small-text" fxFlex="20">Interactions</div>
              </div>
            </div>

            <sparkline-chart
              *ngIf="interactionsSparkLineData$ | async as spark2"
              [identifier]="'interactions'"
              [data]="spark2"
              fxFlex="45"
            >
            </sparkline-chart>
          </mat-card>

          <mat-card
            fxFlex="33.3"
            fxLayout="column"
            style="background-color: #048ed0ad; padding: 0"
          >
            <div
              fxLayout="row"
              style="padding-left: 12px; padding-top: 12px"
              fxFlex="55"
            >
              <div fxLayout="column">
                <mat-icon
                  fxFlex="25"
                  class="cyb-fa-file-text-o"
                  style="font-size: 1.2rem"
                ></mat-icon>
              </div>

              <div
                class="card-title"
                style="margin-left: 8px"
                fxLayout="column"
              >
                <div class="small-text">1,975,224</div>

                <div class="small-text" fxFlex="20">Attestations</div>
              </div>
            </div>

            <sparkline-chart
              *ngIf="attestationsSparkLineData$ | async as spark3"
              [identifier]="'attestations'"
              [data]="spark3"
              fxFlex="45"
            >
            </sparkline-chart>
          </mat-card>
        </div>
      </div>

      <div fxFlex="100" fxFlex.md="50" fxFlex.gt-md="33.3" fxLayout="column">
        <div fxFlex>
          <mat-card
            fxLayout="column"
            style="padding-top: 12; padding-left: 0; padding-right: 0"
            fxFlex
          >
            <column-chart
              *ngIf="
                nodesBeneficiariesUsersClusteredColumnChartData$
                  | async as nodesData
              "
              [data]="nodesData"
              [identifier]="'nodesBeneficiariesUsers'"
              fxFlex
            >
            </column-chart>
          </mat-card>
        </div>
      </div>

      <div fxFlex="100" fxFlex.md="50" fxFlex.gt-md="33.3" fxLayout="column">
        <div fxFlex>
          <line-graph-chart
            *ngIf="nodesBeneficiariesUsersLineGraphData$ | async as lineData"
            [data]="lineData"
            [cardTitle]="'Entities in Numbers'"
            fxFlex
          >
          </line-graph-chart>
        </div>
      </div>
    </div>

    <div
      class="segment-initial-state second-segment"
      fxFlex
      fxLayout="row wrap"
      fxLayout.lt-lg="column"
    >
      <div fxFlex.xs="30" fxFlex.gt-xs="40" fxFlex.gt-md="35" fxLayout="column">
        <mat-card
          fxLayout="column"
          fxLayoutAlign="start center"
          fxFlex.lt-lg="100"
          fxFlex
          style="padding: 10px"
        >
          <div fxLayoutAlign="start center" style="width: 100%" fxFlex="25">
            <div
              fxLayout="column"
              fxFlex.lt-lg="5"
              fxFlex="10"
              style="
                background-color: #bd66aa;
                border-radius: 10%;
                place-self: center;
                margin-left: 10px;
              "
            >
              <span
                style="
                  display: inline-block;
                  padding: 10px;
                  font-weight: 900;
                  color: black;
                  place-self: center;
                "
                >135</span
              >
            </div>

            <div
              fxLayout="column"
              fxFlex="10"
              style="font-size: 10px; margin-left: 10px; color: #bd66aa"
            >
              Inbound Shipment Orders
            </div>

            <stock-chart
              *ngIf="
                shipmentOrdersInboundStockChartData$ | async as inboundData
              "
              fxFlex="75"
              fxLayout="column"
              [identifier]="'shipmentOrdersInbound'"
              [data]="inboundData"
              style="height: 100%; margin-left: 5px"
            >
            </stock-chart>

            <div
              fxFlex="5"
              style="font-size: 10px; margin-left: 10px; color: #bd66aa"
            >
              8%
            </div>
          </div>

          <mat-divider></mat-divider>

          <div fxLayoutAlign="start center" style="width: 100%" fxFlex="25">
            <div
              fxLayout="column"
              fxFlex.lt-lg="5"
              fxFlex="10"
              style="
                background-color: #bd66aa;
                border-radius: 10%;
                place-self: center;
                margin-left: 10px;
              "
            >
              <span
                style="
                  display: inline-block;
                  padding: 10px;
                  font-weight: 900;
                  color: black;
                  place-self: center;
                "
                >16</span
              >
            </div>

            <div
              fxLayout="column"
              fxFlex="10"
              style="font-size: 10px; margin-left: 10px; color: #bd66aa"
            >
              Outbound Shipment Orders
            </div>

            <stock-chart
              *ngIf="
                shipmentOrdersOutboundStockChartData$ | async as outboundData
              "
              fxFlex="75"
              fxLayout="column"
              [identifier]="'shipmentOrdersOutbound'"
              [data]="outboundData"
              style="height: 100%; margin-left: 5px"
            >
            </stock-chart>

            <div
              fxFlex="5"
              style="font-size: 10px; margin-left: 10px; color: #bd66aa"
            >
              4%
            </div>
          </div>

          <mat-divider></mat-divider>

          <div fxLayoutAlign="start center" style="width: 100%" fxFlex="25">
            <div
              fxLayout="column"
              fxFlex.lt-lg="5"
              fxFlex="10"
              style="
                background-color: #07b85c;
                border-radius: 10%;
                place-self: center;
                margin-left: 10px;
              "
            >
              <span
                style="
                  display: inline-block;
                  padding: 10px;
                  font-weight: 900;
                  color: black;
                  place-self: center;
                "
                >4</span
              >
            </div>

            <div
              fxLayout="column"
              fxFlex="10"
              style="font-size: 10px; margin-left: 10px; color: #07b85c"
            >
              Incoming Messages
            </div>

            <stock-chart
              *ngIf="messagesIncomingStockChartData$ | async as incomingData"
              fxFlex="75"
              fxLayout="column"
              [data]="incomingData"
              [identifier]="'messagesIncoming'"
              style="height: 100%; margin-left: 5px"
            >
            </stock-chart>

            <div
              fxFlex="5"
              style="font-size: 10px; margin-left: 10px; color: #07b85c"
            >
              2%
            </div>
          </div>

          <mat-divider></mat-divider>

          <div fxLayoutAlign="start center" style="width: 100%" fxFlex="25">
            <div
              fxLayout="column"
              fxFlex.lt-lg="5"
              fxFlex="10"
              style="
                background-color: #07b85c;
                border-radius: 10%;
                place-self: center;
                margin-left: 10px;
              "
            >
              <span
                style="
                  display: inline-block;
                  padding: 10px;
                  font-weight: 900;
                  color: black;
                  place-self: center;
                "
                >2</span
              >
            </div>

            <div
              fxLayout="column"
              fxFlex="10"
              style="font-size: 10px; margin-left: 10px; color: #07b85c"
            >
              Outcoming Messages
            </div>

            <stock-chart
              fxFlex="75"
              *ngIf="messagesOutcomingStockChartData$ | async as outcomingData"
              fxLayout="column"
              [identifier]="'messagesOutcoming'"
              [data]="outcomingData"
              style="height: 100%; margin-left: 5px"
            >
            </stock-chart>

            <div
              fxFlex="5"
              style="font-size: 10px; margin-left: 10px; color: #07b85c"
            >
              5%
            </div>
          </div>
        </mat-card>
      </div>

      <div fxFlex.xs="70" fxFlex.gt-xs="60" fxFlex.gt-md="35" fxLayout="column">
        <mat-card fxLayout="column" fxFlex>
          <column-chart
            *ngIf="groupsClusteredColumnChartData$ | async as groupsData"
            fxFlex
            [data]="groupsData"
            [identifier]="'groups'"
          >
          </column-chart>
        </mat-card>
      </div>

      <div
        fxFlex.lt-lg="100"
        fxFlex.gt-md="30"
        fxLayout="column"
        fxLayout.md="row"
        fxLayout.lt-md="row wrap"
        style="width: 100%"
      >
        <line-graph-chart
          *ngIf="deployedProcessesLineGraphData$ | async as deployedData"
          [cardTitle]="'Deployed Processes'"
          fxFlex.xs="100"
          fxFlex.gt-xs="50"
          [data]="deployedData"
        >
        </line-graph-chart>

        <line-graph-chart
          *ngIf="reportsLineGraphData$ | async as reportsData"
          [cardTitle]="'Reports'"
          fxFlex.xs="100"
          fxFlex.gt-xs="50"
          [data]="reportsData"
        >
        </line-graph-chart>
      </div>
    </div>

    <div class="segment-initial-state third-segment" fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.lt-md="40" fxFlex.md="44" fxFlex.gt-md="23">
        <mat-card fxFlex>
          <gauge-chart
            *ngIf="groupsClusteredColumnChartData$ | async as groupsData"
            [cardTitle]="'Activity'"
            fxFlex
          ></gauge-chart>
        </mat-card>
      </div>

      <div fxFlex.xs="100" fxFlex.lt-md="60" fxFlex.md="56" fxFlex.gt-md="37">
        <mat-card fxLayout="row" fxFlex>
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3">
            <div
              fxFlex="15"
              fxLayout="row"
              style="margin-right: 5px; width: 50%"
              fxLayoutAlign="start end"
            >
              <mat-icon
                style="font-size: 1rem; place-self: center"
                class="cyb-fa-file-text-o"
              ></mat-icon>

              <h6 class="card-title" style="padding-left: 8px">
                Conversation Contracts
              </h6>
            </div>

            <div fxFlex="85" fxLayout="row" fxLayoutAlign="center center">
              <pie-chart
                *ngIf="
                  conversationContractsDonutChartData$
                    | async as conversationData
                "
                style="margin-top: auto; margin-bottom: auto; height: 67%"
                [cardTitle]="'Conversation Contracts'"
                [data]="conversationData"
              >
              </pie-chart>

              <div
                class="card-title"
                [fxHide.lt-xl]="false"
                [fxHide.xl]="true"
                style="
                  font-size: 1.6rem;
                  padding-top: 8px;
                  position: absolute;
                  top: 93px;
                "
              >
                <span>88K</span>
              </div>

              <div
                class="card-title"
                [fxHide.lt-xl]="true"
                [fxHide.xl]="false"
                style="font-size: 1.85rem; padding-top: 8px"
              >
                <span>88K</span>
              </div>
            </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3">
            <div
              fxFlex="15"
              fxLayout="row"
              style="margin-right: 5px; width: 50%"
              fxLayoutAlign="center center"
            >
              <mat-icon
                style="font-size: 1rem; place-self: center"
                class="cyb-fa-share-alt"
              ></mat-icon>

              <h6
                class="card-title"
                style="padding-left: 5px; padding-top: 5px"
              >
                Collaborations
              </h6>
            </div>

            <div fxFlex="85" fxLayout="row" fxLayoutAlign="center center">
              <pie-chart
                *ngIf="
                  collaborationsDonutChartData$ | async as collaborationsData
                "
                style="margin-top: auto; margin-bottom: auto; height: 67%"
                [cardTitle]="'Collaborations'"
                [data]="collaborationsData"
              >
              </pie-chart>

              <div
                class="card-title"
                [fxHide.lt-xl]="false"
                [fxHide.xl]="true"
                style="
                  font-size: 1.6rem;
                  padding-top: 8px;
                  position: absolute;
                  top: 93px;
                "
              >
                <span>23K</span>
              </div>

              <div
                class="card-title"
                [fxHide.lt-xl]="true"
                [fxHide.xl]="false"
                style="font-size: 1.85rem; padding-top: 8px"
              >
                <span>23K</span>
              </div>
            </div>
          </div>

          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutAlign="start center"
            fxFlex="33.3"
          >
            <div
              fxFlex="15"
              fxLayout="row"
              style="margin-right: 5px; width: 50%"
              fxLayoutAlign="start end"
            >
              <mat-icon
                style="font-size: 1rem; place-self: center"
                class="cyb-fa-sign-in"
              ></mat-icon>

              <h6 class="card-title" style="padding-left: 5px">
                Collaboration Enrollements
              </h6>
            </div>

            <div fxFlex="85" fxLayout="row" fxLayoutAlign="center center">
              <pie-chart
                *ngIf="
                  collaborationEnrollementsDonutChartData$
                    | async as collaborationData
                "
                style="margin-top: auto; margin-bottom: auto; height: 67%"
                [cardTitle]="'Collaboration Enrollements'"
                [data]="collaborationData"
              >
              </pie-chart>
              <div
                class="card-title"
                [fxHide.lt-xl]="false"
                [fxHide.xl]="true"
                style="
                  font-size: 1.6rem;
                  padding-top: 8px;
                  position: absolute;
                  top: 93px;
                "
              >
                <span>72K</span>
              </div>

              <div
                class="card-title"
                [fxHide.lt-xl]="true"
                [fxHide.xl]="false"
                style="font-size: 1.85rem; padding-top: 8px"
              >
                <span>72K</span>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

      <div fxFlex.xs="100" fxFlex.gt-xs="50" fxFlex.gt-md="20">
        <line-graph-chart
          *ngIf="userRegistrationLineGraphData$ | async as userRegistrationData"
          [cardTitle]="'User Registration Requests'"
          [data]="userRegistrationData"
          fxFlex
        >
        </line-graph-chart>
      </div>

      <div fxFlex.xs="100" fxFlex.gt-xs="50" fxFlex.gt-md="20">
        <line-graph-chart
          *ngIf="paymentsLineGraphData$ | async as paymentsData"
          [cardTitle]="'Payments'"
          [data]="paymentsData"
          fxFlex
        >
        </line-graph-chart>
      </div>
    </div>

    <div class="segment-initial-state fourth-segment" fxLayout="row wrap">
      <div
        fxFlex.lt-md="100"
        fxFlex.md="50"
        fxFlex.gt-md="33.3"
        fxLayout="column"
      >
        <line-graph-chart
          *ngIf="
            assignedProcessesLineGraphData$ | async as assignedProcessesData
          "
          fxFlex.xs="100"
          fxFlex.lt-md="100"
          [data]="assignedProcessesData"
          [cardTitle]="'Assigned Processes'"
          fxFlex
        >
        </line-graph-chart>
      </div>

      <div
        fxFlex.sm="50"
        fxFlex.lt-lg="100"
        fxFlexOrder.md="2"
        fxLayout.md="row"
        fxFlex.gt-md="33.3"
        fxLayout="column"
      >
        <line-graph-chart
          *ngIf="processInstancesLineGraphData$ | async as processInstancesData"
          fxFlex.xs="100"
          fxFlex="50"
          [cardTitle]="'Process Instances'"
          [data]="processInstancesData"
        >
        </line-graph-chart>

        <mat-card fxLayout="column" fxFlex="50">
          <column-chart
            *ngIf="
              beneficiariesClusteredColumnChartData$
                | async as beneficiariesData
            "
            [identifier]="'beneficiaries'"
            fxFlex
            [data]="beneficiariesData"
          >
          </column-chart>
        </mat-card>
      </div>

      <div
        fxFlex.xs="100"
        fxFlex.gt-xs="50"
        fxFlex.gt-md="33.3"
        fxFlexOrder.md="1"
        fxLayout="column"
      >
        <mat-card
          fxFlex.xs="100"
          fxFlex.lt-md="100"
          fxFlex.md="100"
          fxFlex.gt-md="100"
          fxLayoutAlign="start center"
          fxLayout="column"
        >
          <h6 class="card-title" fxFlex="10">Subscription Policies</h6>

          <pie-chart
            *ngIf="
              subscriptionPoliciesPieChartData$
                | async as subscriptionPoliciesData
            "
            fxFlex="90"
            style="width: 100%"
            [cardTitle]="'Subscription Policies'"
            [data]="subscriptionPoliciesData"
          >
          </pie-chart>
        </mat-card>
      </div>
    </div>
  </div>
</div>
