@if (_showSpinner) {
<div style="height: 100px">
  <mat-progress-bar
    mode="indeterminate"
    class="progress-bar"
  ></mat-progress-bar>
</div>
} @if (!_showSpinner) {
<div fxFlex fxLayout="column">
  @if (!tempNotShowDashboard) {

  <div fxFlex fxLayout="column">
    <div class="segment-initial-state first-segment" fxLayout="row wrap">
      <div fxFlex="100" fxFlex.md="100" fxFlex.gt-md="33.3" fxLayout="column">
        <div fxFlex="60">
          <mat-card style="padding: 25px" fxLayout="row" fxFlex>
            <div style="padding: 10px; text-align: right">
              <button
                mat-icon-button
                (click)="toggleTheme()"
                [matTooltip]="isDark ? 'Light Theme' : 'Dark Theme'"
              >
                <mat-icon [ngStyle]="{ color: isDark ? 'white' : 'black' }">
                  {{ isDark ? "light_mode" : "dark_mode" }}
                </mat-icon>
              </button>
            </div>

            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3">
              <div
                fxFlex="10"
                fxLayout="row"
                style="margin-left: auto; margin-right: auto; width: 50%"
                fxLayoutAlign="start end"
              >
                <mat-icon
                  style="font-size: 1rem"
                  class="cyb-mi-device_hub"
                ></mat-icon>

                <h6
                  class="card-title"
                  style="padding-left: 5px; font-size: 25px"
                >
                  Nodes
                </h6>
              </div>

              <div fxFlex="90" fxLayout="row" fxLayoutAlign="center center">
                @if (nodesDonutChartData$ | async; as nodesDonutChartData) {
                <pie-chart
                  [cardTitle]="'Nodes'"
                  [data]="nodesDonutChartData"
                ></pie-chart>
                }

                <div
                  class="card-title"
                  [fxHide.xs]="false"
                  [fxHide.sm]="true"
                  [fxHide.md]="true"
                  [fxHide.lg]="false"
                  [fxHide.xl]="true"
                  style="
                    font-size: 1.6rem;
                    padding-top: 8px;
                    position: absolute;
                  "
                >
                  31K
                </div>

                <div
                  class="card-title"
                  [fxHide.xs]="true"
                  [fxHide.sm]="false"
                  [fxHide.md]="false"
                  [fxHide.lg]="true"
                  [fxHide.xl]="false"
                  style="font-size: 1.85rem; padding-top: 8px"
                >
                  <span class="large-text">31K</span>
                </div>
              </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3">
              <div
                fxFlex="10"
                fxLayout="row"
                style="margin-left: auto; margin-right: auto; width: 50%"
                fxLayoutAlign="start end"
              >
                <mat-icon
                  style="font-size: 1rem"
                  class="icon-domain"
                ></mat-icon>

                <h6
                  class="card-title"
                  style="padding-left: 5px; font-size: 25px"
                >
                  Beneficiaries
                </h6>
              </div>

              <div fxFlex="90" fxLayout="row" fxLayoutAlign="center center">
                @if (beneficiariesDonutChartData$ | async; as beneficiariesData)
                {
                <pie-chart
                  [cardTitle]="'Beneficiaries'"
                  [data]="beneficiariesData"
                ></pie-chart>
                }

                <div
                  class="card-title"
                  [fxHide.xs]="false"
                  [fxHide.sm]="true"
                  [fxHide.md]="true"
                  [fxHide.lg]="false"
                  [fxHide.xl]="true"
                  style="
                    font-size: 1.6rem;
                    padding-top: 8px;
                    position: absolute;
                  "
                >
                  45K
                </div>

                <div
                  class="card-title"
                  [fxHide.xs]="true"
                  [fxHide.sm]="false"
                  [fxHide.md]="false"
                  [fxHide.lg]="true"
                  [fxHide.xl]="false"
                  style="font-size: 1.85rem; padding-top: 8px"
                >
                  <span class="large-text">45K</span>
                </div>
              </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3">
              <div
                fxFlex="10"
                fxLayout="row"
                style="margin-left: auto; margin-right: auto; width: 50%"
                fxLayoutAlign="start end"
              >
                <mat-icon
                  style="font-size: 1rem"
                  class="icon-account"
                ></mat-icon>

                <h6
                  class="card-title"
                  style="padding-left: 5px; font-size: 25px"
                >
                  Users
                </h6>
              </div>

              <div fxFlex="90" fxLayout="row" fxLayoutAlign="center center">
                @if (usersDonutChartData$ | async; as usersData) {
                <pie-chart [cardTitle]="'Users'" [data]="usersData">
                </pie-chart>
                }

                <div
                  class="card-title"
                  [fxHide.xs]="false"
                  [fxHide.sm]="true"
                  [fxHide.md]="true"
                  [fxHide.lg]="false"
                  [fxHide.xl]="true"
                  style="
                    font-size: 1.6rem;
                    padding-top: 8px;
                    position: absolute;
                  "
                >
                  61K
                </div>

                <div
                  class="card-title"
                  [fxHide.xs]="true"
                  [fxHide.sm]="false"
                  [fxHide.md]="false"
                  [fxHide.lg]="true"
                  [fxHide.xl]="false"
                  style="font-size: 1.85rem; padding-top: 8px"
                >
                  <span class="large-text">61K</span>
                </div>
              </div>
            </div>
          </mat-card>
        </div>

        <div fxFlex="40">
          <mat-card
            fxFlex="33.3"
            fxLayout="column"
            style="background-color: #048ed0ad; padding: 25px"
          >
            <div
              fxLayout="row"
              style="padding-left: 12px; padding-top: 12px"
              fxFlex="55"
            >
              <div fxLayout="column">
                <mat-icon
                  fxFlex="25"
                  class="cyb-mi-link fa-rotate-90"
                  style="margin-top: 6px; font-size: 1.2rem"
                >
                </mat-icon>
              </div>

              <div class="card-title" fxLayout="column">
                <div class="small-text">1,975,224</div>

                <div style="font-size: 25px" class="small-text" fxFlex="20">
                  Interfaces
                </div>
              </div>
            </div>

            @if (interfacesSparkLineData$ | async; as spark1) {
            <sparkline-chart
              [identifier]="'interfaces'"
              [data]="spark1"
              fxFlex="45"
            ></sparkline-chart>
            }
          </mat-card>

          <mat-card
            fxFlex="33.3"
            fxLayout="column"
            style="background-color: #048ed0ad; padding: 25px"
          >
            <div
              fxLayout="row"
              style="padding-left: 12px; padding-top: 12px"
              fxFlex="55"
            >
              <div fxLayout="column">
                <mat-icon
                  fxFlex="25"
                  class="cyb-fa-wechat"
                  style="font-size: 1.2rem"
                ></mat-icon>
              </div>

              <div
                class="card-title"
                style="margin-left: 8px"
                fxLayout="column"
              >
                <div class="small-text">1,975,224</div>

                <div style="font-size: 25px" class="small-text" fxFlex="20">
                  Interactions
                </div>
              </div>
            </div>

            @if (interactionsSparkLineData$ | async; as spark2) {
            <sparkline-chart
              [identifier]="'interactions'"
              [data]="spark2"
              fxFlex="45"
            ></sparkline-chart>
            }
          </mat-card>

          <mat-card
            fxFlex="33.3"
            fxLayout="column"
            style="background-color: #048ed0ad; padding: 25px"
          >
            <div
              fxLayout="row"
              style="padding-left: 12px; padding-top: 12px"
              fxFlex="55"
            >
              <div fxLayout="column">
                <mat-icon
                  fxFlex="25"
                  class="cyb-fa-file-text-o"
                  style="font-size: 1.2rem"
                ></mat-icon>
              </div>

              <div
                class="card-title"
                style="margin-left: 8px"
                fxLayout="column"
              >
                <div class="small-text">1,975,224</div>

                <div style="font-size: 25px" class="small-text" fxFlex="20">
                  Attestations
                </div>
              </div>
            </div>

            @if (attestationsSparkLineData$ | async; as spark3) {
            <sparkline-chart
              [identifier]="'attestations'"
              [data]="spark3"
              fxFlex="45"
            ></sparkline-chart>
            }
          </mat-card>
        </div>
      </div>

      <div fxFlex="100" fxFlex.md="50" fxFlex.gt-md="33.3" fxLayout="column">
        <div fxFlex>
          <mat-card
            fxLayout="column"
            style="
              padding-top: 12;
              padding-left: 0;
              padding-right: 0;
              padding: 25px;
            "
            fxFlex
          >
            @if (nodesBeneficiariesUsersClusteredColumnChartData$ | async; as
            nodesData) {
            <column-chart
              [data]="nodesData"
              [identifier]="'nodesBeneficiariesUsers'"
              fxFlex
            ></column-chart>
            }
          </mat-card>
        </div>
      </div>

      <div fxFlex="100" fxFlex.md="50" fxFlex.gt-md="33.3" fxLayout="column">
        <div fxFlex>
          @if (nodesBeneficiariesUsersLineGraphData$ | async; as lineData) {
          <line-graph-chart
            [data]="lineData"
            [cardTitle]="'Entities in Numbers'"
            fxFlex
          ></line-graph-chart>
          }
        </div>
      </div>
    </div>

    <div
      class="segment-initial-state second-segment"
      fxFlex
      fxLayout="row wrap"
      fxLayout.lt-lg="column"
    >
      <div fxFlex.xs="30" fxFlex.gt-xs="40" fxFlex.gt-md="35" fxLayout="column">
        <mat-card
          fxLayout="column"
          fxLayoutAlign="start center"
          fxFlex.lt-lg="100"
          fxFlex
          style="padding: 25px"
        >
          <div fxLayoutAlign="start center" style="width: 100%" fxFlex="25">
            <div
              fxLayout="column"
              fxFlex.lt-lg="5"
              fxFlex="10"
              style="
                background-color: #bd66aa;
                border-radius: 10%;
                place-self: center;
                margin-left: 10px;
              "
            >
              <span
                style="
                  display: inline-block;
                  padding: 10px;
                  font-weight: 900;
                  color: black;
                  place-self: center;
                "
                >135</span
              >
            </div>

            <div
              fxLayout="column"
              fxFlex="10"
              style="font-size: 20px; margin-left: 10px; color: #bd66aa"
            >
              Inbound Shipment Orders
            </div>

            @if (shipmentOrdersInboundStockChartData$ | async; as inboundData) {
            <stock-chart
              [identifier]="'shipmentOrdersInbound'"
              [data]="inboundData"
              fxFlex="75"
              fxLayout="column"
              style="height: 100%; margin-left: 5px"
            ></stock-chart>
            }

            <div
              fxFlex="5"
              style="font-size: 10px; margin-left: 10px; color: #bd66aa"
            >
              8%
            </div>
          </div>

          <mat-divider></mat-divider>

          <div fxLayoutAlign="start center" style="width: 100%" fxFlex="25">
            <div
              fxLayout="column"
              fxFlex.lt-lg="5"
              fxFlex="10"
              style="
                background-color: #bd66aa;
                border-radius: 10%;
                place-self: center;
                margin-left: 10px;
              "
            >
              <span
                style="
                  display: inline-block;
                  padding: 10px;
                  font-weight: 900;
                  color: black;
                  place-self: center;
                "
                >16</span
              >
            </div>

            <div
              fxLayout="column"
              fxFlex="10"
              style="font-size: 20px; margin-left: 10px; color: #bd66aa"
            >
              Outbound Shipment Orders
            </div>

            @if (shipmentOrdersOutboundStockChartData$ | async; as outboundData)
            {
            <stock-chart
              fxFlex="75"
              fxLayout="column"
              [identifier]="'shipmentOrdersOutbound'"
              [data]="outboundData"
              style="height: 100%; margin-left: 5px"
            ></stock-chart>
            }

            <div
              fxFlex="5"
              style="font-size: 20px; margin-left: 10px; color: #bd66aa"
            >
              4%
            </div>
          </div>

          <mat-divider></mat-divider>

          <div fxLayoutAlign="start center" style="width: 100%" fxFlex="25">
            <div
              fxLayout="column"
              fxFlex.lt-lg="5"
              fxFlex="10"
              style="
                background-color: #07b85c;
                border-radius: 10%;
                place-self: center;
                margin-left: 10px;
              "
            >
              <span
                style="
                  display: inline-block;
                  padding: 10px;
                  font-weight: 900;
                  color: black;
                  place-self: center;
                "
                >4</span
              >
            </div>

            <div
              fxLayout="column"
              fxFlex="10"
              style="font-size: 20px; margin-left: 10px; color: #07b85c"
            >
              Incoming Messages
            </div>

            @if (messagesIncomingStockChartData$ | async; as incomingData) {
            <stock-chart
              fxFlex="75"
              fxLayout="column"
              [identifier]="'messagesIncoming'"
              [data]="incomingData"
              style="height: 100%; margin-left: 5px"
            ></stock-chart>
            }

            <div
              fxFlex="5"
              style="font-size: 10px; margin-left: 10px; color: #07b85c"
            >
              2%
            </div>
          </div>

          <mat-divider></mat-divider>

          <div fxLayoutAlign="start center" style="width: 100%" fxFlex="25">
            <div
              fxLayout="column"
              fxFlex.lt-lg="5"
              fxFlex="10"
              style="
                background-color: #07b85c;
                border-radius: 10%;
                place-self: center;
                margin-left: 10px;
              "
            >
              <span
                style="
                  display: inline-block;
                  padding: 10px;
                  font-weight: 900;
                  color: black;
                  place-self: center;
                "
                >2</span
              >
            </div>

            <div
              fxLayout="column"
              fxFlex="10"
              style="font-size: 20px; margin-left: 10px; color: #07b85c"
            >
              Outcoming Messages
            </div>

            @if (messagesOutcomingStockChartData$ | async; as outcomingData) {
            <stock-chart
              fxFlex="75"
              fxLayout="column"
              [identifier]="'messagesOutcoming'"
              [data]="outcomingData"
              style="height: 100%; margin-left: 5px"
            ></stock-chart>
            }

            <div
              fxFlex="5"
              style="font-size: 10px; margin-left: 10px; color: #07b85c"
            >
              5%
            </div>
          </div>
        </mat-card>
      </div>

      <div fxFlex.xs="70" fxFlex.gt-xs="60" fxFlex.gt-md="35" fxLayout="column">
        <mat-card style="padding: 25px" fxLayout="column" fxFlex>
          @if (groupsClusteredColumnChartData$ | async; as groupsData) {
          <column-chart
            fxFlex
            [data]="groupsData"
            [identifier]="'groups'"
          ></column-chart>
          }
        </mat-card>
      </div>

      <div
        fxFlex.lt-lg="100"
        fxFlex.gt-md="30"
        fxLayout="column"
        fxLayout.md="row"
        fxLayout.lt-md="row wrap"
        style="width: 100%"
      >
        @if (deployedProcessesLineGraphData$ | async; as deployedData) {
        <line-graph-chart
          [cardTitle]="'Deployed Processes'"
          fxFlex.xs="100"
          fxFlex.gt-xs="50"
          [data]="deployedData"
        ></line-graph-chart>

        } @if (reportsLineGraphData$ | async; as reportsData) {
        <line-graph-chart
          [cardTitle]="'Reports'"
          fxFlex.xs="100"
          fxFlex.gt-xs="50"
          [data]="reportsData"
        ></line-graph-chart>
        }
      </div>
    </div>

    <div class="segment-initial-state third-segment" fxLayout="row wrap">
      <div fxFlex.xs="100" fxFlex.lt-md="40" fxFlex.md="44" fxFlex.gt-md="23">
        <mat-card style="padding: 25px" fxFlex>
          @if (groupsClusteredColumnChartData$ | async; as groupsData) {
          <gauge-chart [cardTitle]="'Activity'" fxFlex></gauge-chart>
          }
        </mat-card>
      </div>

      <div fxFlex.xs="100" fxFlex.lt-md="60" fxFlex.md="56" fxFlex.gt-md="37">
        <mat-card style="padding: 25px" fxLayout="row" fxFlex>
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3">
            <div
              fxFlex="15"
              fxLayout="row"
              style="margin-right: 5px; width: 50%"
              fxLayoutAlign="start end"
            >
              <mat-icon
                style="font-size: 1rem; place-self: center"
                class="cyb-fa-file-text-o"
              ></mat-icon>

              <h6 class="card-title" style="padding-left: 8px; font-size: 25px">
                Conversation Contracts
              </h6>
            </div>

            <div fxFlex="85" fxLayout="row" fxLayoutAlign="center center">
              @if (conversationContractsDonutChartData$ | async; as
              conversationData) {
              <pie-chart
                [cardTitle]="'Conversation Contracts'"
                [data]="conversationData"
                style="margin-top: auto; margin-bottom: auto; height: 67%"
              ></pie-chart>
              }

              <div
                class="card-title"
                [fxHide.lt-xl]="false"
                [fxHide.xl]="true"
                style="
                  font-size: 1.6rem;
                  padding-top: 8px;
                  position: absolute;
                  top: 93px;
                "
              >
                <span>88K</span>
              </div>

              <div
                class="card-title"
                [fxHide.lt-xl]="true"
                [fxHide.xl]="false"
                style="font-size: 1.85rem; padding-top: 8px"
              >
                <span>88K</span>
              </div>
            </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33.3">
            <div
              fxFlex="15"
              fxLayout="row"
              style="margin-right: 5px; width: 50%"
              fxLayoutAlign="center center"
            >
              <mat-icon
                style="font-size: 1rem; place-self: center"
                class="cyb-fa-share-alt"
              ></mat-icon>

              <h6
                class="card-title"
                style="padding-left: 5px; padding-top: 5px; font-size: 25px"
              >
                Collaborations
              </h6>
            </div>

            <div fxFlex="85" fxLayout="row" fxLayoutAlign="center center">
              @if (collaborationsDonutChartData$ | async; as collaborationsData)
              {
              <pie-chart
                [cardTitle]="'Collaborations'"
                [data]="collaborationsData"
                style="margin-top: auto; margin-bottom: auto; height: 67%"
              ></pie-chart>
              }

              <div
                class="card-title"
                [fxHide.lt-xl]="false"
                [fxHide.xl]="true"
                style="
                  font-size: 1.6rem;
                  padding-top: 8px;
                  position: absolute;
                  top: 93px;
                "
              >
                <span>23K</span>
              </div>

              <div
                class="card-title"
                [fxHide.lt-xl]="true"
                [fxHide.xl]="false"
                style="font-size: 1.85rem; padding-top: 8px"
              >
                <span>23K</span>
              </div>
            </div>
          </div>

          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutAlign="start center"
            fxFlex="33.3"
          >
            <div
              fxFlex="15"
              fxLayout="row"
              style="margin-right: 5px; width: 50%"
              fxLayoutAlign="start end"
            >
              <mat-icon
                style="font-size: 1rem; place-self: center"
                class="cyb-fa-sign-in"
              ></mat-icon>

              <h6 class="card-title" style="padding-left: 5px; font-size: 25px">
                Collaboration Enrollements
              </h6>
            </div>

            <div fxFlex="85" fxLayout="row" fxLayoutAlign="center center">
              @if (collaborationEnrollementsDonutChartData$ | async; as
              collaborationData) {
              <pie-chart
                [cardTitle]="'Collaboration Enrollements'"
                [data]="collaborationData"
                style="margin-top: auto; margin-bottom: auto; height: 67%"
              ></pie-chart>
              }

              <div
                class="card-title"
                [fxHide.lt-xl]="false"
                [fxHide.xl]="true"
                style="
                  font-size: 1.6rem;
                  padding-top: 8px;
                  position: absolute;
                  top: 93px;
                "
              >
                <span>72K</span>
              </div>

              <div
                class="card-title"
                [fxHide.lt-xl]="true"
                [fxHide.xl]="false"
                style="font-size: 1.85rem; padding-top: 8px"
              >
                <span>72K</span>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

      <div fxFlex.xs="100" fxFlex.gt-xs="50" fxFlex.gt-md="20">
        @if (userRegistrationLineGraphData$ | async; as userRegistrationData) {
        <line-graph-chart
          [cardTitle]="'User Registration Requests'"
          [data]="userRegistrationData"
          fxFlex
        ></line-graph-chart>
        }
      </div>

      <div fxFlex.xs="100" fxFlex.gt-xs="50" fxFlex.gt-md="20">
        @if (paymentsLineGraphData$ | async; as paymentsData) {
        <line-graph-chart
          [cardTitle]="'Payments'"
          [data]="paymentsData"
          fxFlex
        ></line-graph-chart>
        }
      </div>
    </div>

    <div class="segment-initial-state fourth-segment" fxLayout="row wrap">
      <div
        fxFlex.lt-md="100"
        fxFlex.md="50"
        fxFlex.gt-md="33.3"
        fxLayout="column"
      >
        @if (assignedProcessesLineGraphData$ | async; as assignedProcessesData)
        {
        <line-graph-chart
          [data]="assignedProcessesData"
          [cardTitle]="'Assigned Processes'"
          fxFlex
          fxFlex.xs="100"
          fxFlex.lt-md="100"
        ></line-graph-chart>
        }
      </div>

      <div
        fxFlex.sm="50"
        fxFlex.lt-lg="100"
        fxFlexOrder.md="2"
        fxLayout.md="row"
        fxFlex.gt-md="33.3"
        fxLayout="column"
      >
        @if (processInstancesLineGraphData$ | async; as processInstancesData) {
        <line-graph-chart
          [cardTitle]="'Process Instances'"
          [data]="processInstancesData"
          fxFlex.xs="100"
          fxFlex="50"
        ></line-graph-chart>
        }

        <mat-card style="padding: 25px" fxLayout="column" fxFlex="50">
          @if (beneficiariesClusteredColumnChartData$ | async; as
          beneficiariesData) {
          <column-chart
            [identifier]="'beneficiaries'"
            [data]="beneficiariesData"
            fxFlex
          ></column-chart>
          }
        </mat-card>
      </div>

      <div
        fxFlex.xs="100"
        fxFlex.gt-xs="50"
        fxFlex.gt-md="33.3"
        fxFlexOrder.md="1"
        fxLayout="column"
      >
        <mat-card
          style="padding: 25px"
          fxFlex.xs="100"
          fxFlex.lt-md="100"
          fxFlex.md="100"
          fxFlex.gt-md="100"
          fxLayoutAlign="start center"
          fxLayout="column"
        >
          <h6 style="font-size: 25px" class="card-title" fxFlex="10">
            Subscription Policies
          </h6>

          @if (subscriptionPoliciesPieChartData$ | async; as
          subscriptionPoliciesData) {
          <pie-chart
            [cardTitle]="'Subscription Policies'"
            [data]="subscriptionPoliciesData"
            fxFlex="90"
            style="width: 100%"
          ></pie-chart>
          }
        </mat-card>
      </div>
    </div>
  </div>
  }
</div>
}
